// Width and margin variables for grid
$m-forum-grid: 10px 0 30px 0    // margin on primary forum grid
$p-forum-grid: 15px             // padding for forum grid

// TEMPORARY Setting temporary min width on body until we can properly address smaller screensize layout
body
    min-width: 800px
// END TEMPORARY

body
    color: $c-copy
h3.forum
    color: $c-primary-h
    +rem('font-size',16px)
    font-weight: bold
    padding: 0 0 0 .8em

// Categroy headings for grids
.dis-cat-header
    +border-radius($radius-sm $radius-sm 0 0)
    +background-clip(padding-box)
    padding: 3px 10px
    line-height: 1
    background-color: #194b47
    // +box-shadow(darken($c-dark-cool-bg, 30%) 0 1px 3px inset !important)
    +background-image(linear-gradient(lighten($c-dark-cool-bg, 9%), lighten($c-dark-cool-bg, 1%)))
    +border-radius($radius-sm $radius-sm 0 0 !important)
    border-bottom: solid 1px $c-dark-cool-bg
    color: #fff

    h1
        +rem('font-size', 19px)
        +text-shadow(rgba(black, .4) 0 1px 0 )
        opacity: .99 // stops webkit rendering heavy
        color: #fff
        line-height: 1
        font-weight: 700
        border: 0
        float: left
        +rem('padding', 7px 0 9px 5px)
        margin: 0
        display: inline-block

    // Green button used to either just to post or jump to login
    .action-buttons, .Button, .post-box .dis-action-login
        +rem('font-size', 13px)
        display: inline-block
        margin-top: .4em
    .action-buttons+.action-buttons
        margin-left: .25em
    .post-box a.Button
        @extend .a-primary-cta


.row+.dis-cat-header
    margin-top: 1em

// Headings below category titles
.m-section_title
    background-color: darken($c-base, 12%)
    border-radius: 5px
    // h1
    //     font-size: 15px
    //     padding: 10px
    .row
        color: #000
        font-weight: 700
        border-bottom: px solid #fff
        border-radius: 0 0 3px 3px
        line-height: 1
        padding: 7px 6px 7px 8px
    .dis-cat-header
        margin-top: .2em

// status styling

// Sub topics styling
.forum-grid
    .dis-board-subs
        color: #fff
        padding: 5px 5px 5px 57px
        background: url(../../images/redo/icons/arrow.png) no-repeat 39px 11px
        strong, a
            +rem('font-size', 12px)
        strong
            color: #000
        a
            color: darken($c-base, 70%)
            +background-image(linear-gradient(darken($c-base, 7%), darken($c-base, 10%)))
            border: solid 1px darken($c-base, 10%)
            display: inline-block
            padding: 3px 6px
            margin-top: 2px
            line-height: 1
            // border: solid 1px darken($c-base, 3%)
            border-radius: 3px
            &:hover
                color: darken($c-base, 90%)
                +background-image(linear-gradient(darken($c-base, 3%), darken($c-base, 7%)))
                border: solid 1px darken($c-base, 7%)
                text-decoration: none
            &:active
                +box-shadow(darken($c-base, 27%) 0 0 1px inset)

    .m-title
        .dis-thread-pagination li, .dis-thread-pagination, a.h-group
            display: inline-block
    .tag, .solved
        @extend .a-primary-cta
        +text-shadow(none)
        display: inline-block
        text-transform: uppercase
        +rem('font-size', 10px)
        +rem('padding', 4px 6px)
        +rem('margin', 0 5px 0 0)
        line-height: 1
        +box-shadow(none)
        &:hover
            +box-shadow(none)
    .question
        @extend .a-tertiary-cta
// .dis-threads.forum-grid
//     background-color: lighten($c-base, 90%)

.dis-thread-pagination
    margin: 0 0 0 5px
    font-size: 12px

    li
        padding: 3px 2px
        opacity: .5
        margin-right: -3px

        &:hover
            opacity: 1
            background-color: #fff

// Thread action tools
.a-dis-actionbuttons
    float: right
    margin: 0 0 8px 0
    a
        @extend .btn-secondary-alt-cta
        padding: 3px 6px
        display: inline-block
        margin: 0 3px 0 0
        &:hover
            background-color: #fff
header.dis-cat-header
    .post-box
        .Button
            margin: 5px 5px 5px 0
            &.dis-action-login
                margin-left: 10px
        .read
            color: #fff
            color: rgba(255,255,255,.5)



// Faux table grid for 5 columns. This later will be able to be
// converted to a responsive table
.panel-stack
    // +box-shadow(darken($c-base, 5%) 0 0 3px)
    +border-radius($radius-sm)
    // border: solid 1px darken($c-base, 5%)

.forum-grid
    +rem('font-size',13px)
    line-height: 1.1
    color: lighten($c-copy, 20%)
    +rem('margin-top', 15px)
    p
        color: darken($c-copy, 30%)
        line-height: 1.1
        margin: 0 0 .25em 0
    a
        text-decoration: none
        color: darken($c-copy, 20%)
    a.h-group
        display: block
        cursor: pointer
    .dis-board-description
        margin: .25em 0
        color: lighten($c-copy, 20%)

    // Faux Grids
    .row
        // padding: .5em
        border-bottom: 1px solid darken($c-base, 11%)
        border-top:  1px solid lighten($c-base, 85%)
        &:hover
            border-bottom-color: darken($c-base, 23%)
            border-top-color: lighten($c-base, 50%)
        &.header-row
            font-weight: bold
            color: #000
            border-bottom: 2px solid darken($c-base, 15%)
        > a
            padding: .5em
            &:hover
                background-color: #fff
                text-decoration: underline
        &.dis-sticky-thread
            background-color: darken($c-base, 3.2%)
            border-bottom: 1px solid darken($c-base, 15%)
            &:hover, a:hover
                background-color: lighten($c-base, 1%)
        &:hover, a:hover
            // background-color: desaturate(lighten($c-dark-cool-bg, 82%), 20%)
            // +background-image(linear-gradient(top, (desaturate(lighten($c-dark-cool-bg, 84%), 60%)), (desaturate(lighten($c-dark-cool-bg, 81%), 60%))))
            border-bottom-color: darken($c-base, 19.1%)
            border-top-color: lighten($c-base, 4.1%)
        &:hover
            // +box-shadow(lighten($c-dark-bg, 3%) 0 1px 0 inset, darken($c-dark-cool-bg, 30%) 0 1px 0)
            +box-shadow(lighten($c-dark-bg, 16%) 0 0 5px, lighten($c-dark-bg, 3%) 0 0 2px)
            position: relative
            z-index: 20
        // padding-top: 10px

    .heading
        color: darken($c-base, 65%)
        background-color: darken($c-base, 35%)
        margin: 0 0 .4em 0
        +background(linear-gradient($g-low-contrast))
        +border-radius($radius-sm)
        .cell
            padding-top: .2em
            padding-bottom: .2em
    strong
        +rem('font-size',16px)
        color: #000
        font-weight: bold
        line-height: 1.1
    .posted-date, .posted-by
        color: lighten($c-copy, 30%)

div.m-section_title + div.row
    padding-top: 10px
// status on threads and categories
.board-post .wrap
    padding-left: 20px

.dis-category .wrap
    background: url(../../images/redo/icons/sm-folder.png) no-repeat 2px 5px
    padding-left: 22px


// status when user is logged in
.a-loggedin
    .dis-category .wrap
        padding-left: 35px
        position: relative
        background-position: 17px 5px
    .dis-category.dis-unread .wrap
        &:before
            content: ""
            display: block
            position: absolute
            left: 1px
            top: 6px
            height: 10px
            width: 8px
            background: url(../../images/redo/icons/unread-dot.png) no-repeat 0 0
    .board-post
        .wrap
            padding-left: 30px
        &.dis-unread, &.dis-post-unread
            .wrap
                background: url(../../images/redo/icons/unread-dot.png) no-repeat 11px 4px



.boards+.forum-grid
    margin-top: 0
.boards .row:last-child
    border: none
    padding-bottom: 0

// Single post styling
.Category
    +rem('padding', 5px 20px 0 0)
    vertical-align: top
    a
        color: $c-dark-cool-bg
        text-decoration: none
        +rem('font-size', 32px)
        line-height: 1.2
        display: inline-block
        vertical-align: top
    .tag
        font-size: 13px
        display: inline-block
        vertical-align: top
        margin: 6px 6px 5px 0
        &.solved
            padding-left: 28px
            position: relative
            &:after
                content: ""
                width: 22px
                position: absolute
                height: 22px
                top: 1px
                left: 1px
                display: block
                background: url(../../images/redo/elements/answered-star.png) no-repeat 0 0

.dis-list
    @extend .m-raised-panel-box
    // margin: 1em 0 0 0
    line-height: 1.4
    // +box-shadow(darken($c-base, 5%) 0 0 3px)
    // +border-radius($radius-sm)
    // border: solid 1px darken($c-base, 10%)
    // background-color: lighten($c-base, 4%)
    border-top: 0

    .dis-post
        border-bottom: solid 1px darken($c-base, 13%)
        border-top: solid 1px lighten($c-base, 55%)
        margin: 0
        position: relative
        width: 96% // not sure why this is needed but if not occasionaly post doesnt span the right width
        padding: 1.75% 2% 3% 2%
        float: right
        &:first-child
            border-top: none

        &:last-child
            padding-bottom: 5%
        .dis-content
            overflow: hidden
            strong
                font-weight: 700
                color: #000
        ul.dis-ul, ol.dis-ol
            padding-left: 20px
            vertical-align: middle
            list-style: disc
            li
                padding: 2px 0
                vertical-align: middle
        ol.dis-ol
            list-style: decimal

        li
            border: none
        .dis-post-footer
            width: 88%
            float: right
            +rem('font-size', 12px)
        .dis-post-editedon
            padding: 1em 0 0 0
            font-style: italic
            color: darken($c-base, 45%)
            display: block
            +rem('font-size', 12px)
            a
                color: darken($c-base, 45%)
.dis-post-answer
    position: relative
    &:after
        content: ""
        position: absolute
        top: -1px
        left: -1px
        display: block
        width: 43px
        height: 43px
        background: url(../../images/redo/elements/answered-post.png) left top

.tag
    +background-image(linear-gradient(lighten($c-dark-bg, 1%), darken($c-dark-bg, 15%)))
    +rem('padding', 6px 12px)
    +rem('margin', 0 10px 7px 0)
    color: lighten($c-base, 80%)
    +border-radius($radius-sm)
    font-weight: 500
    line-height: 1
    text-transform: uppercase
    &.sticky
        +background-image(linear-gradient(lighten(#000, 80%), lighten(#000, 70%)))
        &:hover
            +background-image(linear-gradient(lighten(#000, 80%), lighten(#000, 70%)))


.dis-post
    .title
        a
            color: #000
            text-decoration: none
            &:hover
                text-decoration: underline
        strong
            font-weight: 700
            color: #000
    .dis-action-btn, .dis-pm-btn
        visibility: hidden

    &:hover
        .dis-action-btn, .dis-pm-btn
            @extend .quick-fade-in-all
            opacity: .99
            visibility: visible
    .dis-pm-btn
        @extend .btn-secondary-alt-cta
        display: inline-block
        +rem('padding', 4px 7px)
        &:hover
            background-color: #fff

.dis-post-left
    // font-size: 11px
    float: left
    text-align: left
    width: 9%
    img
        width: 100%
        max-width: 80px
        +border-radius($radius-sm)
    .auth-avatar
        display: block
        border: none
    .dis-usr-post-count, .dis-usr-icon // REMOVE FUTURE prexsiting styling
        margin: 0
        +rem('font-size', 11px)
    .dis-usr-post-count
        margin: .3em .2em 0 .35em
.dis-content pre
    @extend pre
.dis-post-right
    float: right
    width: 86%
    padding: 0 2% 2% 0
    +rem('font-size', 15px)
    .title
        +rem('font-size', 12px)
        line-height: 1
        color: darken($c-base, 50%)
        margin: 0 0 1em 0
        padding: 0 0 .8em 0
        border-bottom: dotted 1px darken($c-base, 12%)
        strong
            +rem('font-size', 15px)
            margin-right: .25em
        .dis-actions
            top: 4px !important
            right: 4px !important
    blockquote
        background-color: lighten($c-base, 1%)
        border: none
        border: 1px dotted darken($c-base, 6%)
        border-left: 3px solid darken($c-base, 40%)
        +rem('padding', 6px 14px)
        margin: 1rem 0
        font-size: .9em
        color: #000
        blockquote
            font-size: 1em
        // line-height: 1.3
    cite
        +rem('padding-left', 15px)
        margin-top: 1em
        display: block
        font-style: italics
    cite+blockquote
        margin-top: .6em

// Single button actions
.dis-action-btn
    float: right
    +rem('font-size', 12px)
    li
        float: left
        margin-right: 0 !important
        a
            display: block
        a.dis-post-reply
            @extend .a-secondary-cta
            +rem('padding', 7px 12px 7px 28px)
            position: relative
            +rem('font-size', 12px)
            &:hover
                text-decoration: none
            &:before
                content: ""
                background-color: #000
                width: 20px
                height: 20px
                display: block
                position: absolute
                top: 5px
                left: 5px
                background: url(../../images/redo/icons/reply-arrow.png) no-repeat 2px 2px !important
        a.dis-report-link
            +rem('padding', 7px 12px)
            color: lighten($c-copy, 55%)
            &:hover
                color: lighten($c-copy, 15%)


.dis-signature
    width: 86%
    padding: 2% 2% 0 0 !important
    float: right
    border-top: 1px dotted darken($c-base, 10%) !important //override, remove eventually
    +rem('font-size', 11px)
    +opacity(.7)
    a
        color: #000
        +opacity(.7)
        text-decoration: underline
        &:hover
            +opacity(1.0)
    &:hover
        +opacity(1.0)


// Used group-fix rather than my typical group because it already being used
.group-fix
    &:before,
    &:after
        content: ""
        display: table
    &:after
        clear: both
    zoom: 1

// pagination 2012
.paginate
    float: right
    +background-image(linear-gradient(lighten($c-dark-cool-bg, 3%), $c-dark-cool-bg))
    +border-radius($radius-sm+2)
    +background-clip(padding-box)
    +box-shadow(lighten($c-dark-cool-bg, 15%) 0 1px 0, darken($c-dark-cool-bg, 30%) 0 -1px 0)
    +rem('padding',4px)
    +rem('font-size', 13px)
    line-height: 1
    li
        margin: 0
        padding: 0
    a
        @extend .m-raised-dark-bg
        font-weight: 100
        letter-spacing: 1px
        +rem('padding', 7px 7px 5px 7px)
        line-height: 1
        margin: 0 1px 0 0
        text-decoration: none
    &.stand-alone
        text-align: right
        float: none
        position: relative
        z-index: 20
        +box-shadow(lighten($c-dark-cool-bg, 95%) 0 1px 0, darken($c-dark-cool-bg, 60%) 0 -1px 0)
        &.top
            +border-radius($radius-sm+2 $radius-sm+2 0 0)
            margin: 1.4em 0 -1.4em 0
        &.bottom
            +border-radius(0 0 $radius-sm+2 $radius-sm+2)
            margin-top: 7px
.paginate.stand-alone
    @extend .h-group
    @extend .dis-cat-header
    &.bottom
        margin-top: 0
        +border-radius(0 0 $radius-sm+2 $radius-sm+2 !important)

#forumbody-thread
    .paginate.stand-alone
        margin-top: 0

// horizonatl list
.horiz-list
    li
        display: inline-block
    a
        display: block

// New sidebar
.sidebar
    // width: 220px
    // margin-top: 1.1em
    .box.first
        p
            margin: 0 0 1em 0
            color: darken($c-base, 50%)
            // a
            //     color: darken($c-base, 50%)
    .panel-box
        // @extend .m-raised-panel-box
        +rem('font-size',14px)
        line-height: 1.3
        +rem('padding', 0 15px 0 15px)
        border-left: solid 1px darken($c-base, 10%)
        h4
            +rem('font-size', 16px)
            +rem('margin', 17px 0 5px 0 )
            +rem('padding', 0 0 7px 0 )
            background: none
            font-weight: 700
            border-bottom: 1px solid darken($c-base, 10%)
        p
            padding: 0
            color: #666
        h4+p
            border-top: solid 1px #fff
            +rem('padding', 10px 15px 10px 15px)
            +rem('margin', -5px -15px 10px -15px)
            // padding-top: 15px
            // margin-top: -6px
        .a-secondary-cta
            margin-left: 0
            margin-right: 0
            margin-top: 2%
        .a-secondary-cta, .a-bug, .a-proposal
            +rem('padding', 13px 6px)
    .primary-cta
        color: #fff
        +rem('font-size', 17px)
        +rem('margin-bottom', 5px)
        &.login
            display: block
            margin-left: 0
            text-align: center
            padding: .5em
    .a-faux-btn-grp
        display: table
        width: 100%
        margin-top: 1.8%
        .a-bug, .a-proposal
            display: table-cell
            vertical-align: middle
        .a-bug
            width: 32%
            +border-radius($radius-sm 0 0 $radius-sm)
            // background: url(../../images/redo/bg/btn-divide.png) no-repeat right center
            +background(url(../../images/redo/bg/btn-divide.png) no-repeat right center, linear-gradient(bottom, darken($c-base, 58%) 0%, darken($c-base, 45%) 100%)) // gradient overlay
            &:hover
                +background-image(linear-gradient(bottom, darken($c-base, 47%) 0%, darken($c-base, 37%) 100%)) // gradient overlay
        .a-proposal
            width: 56%
            margin: 3% 0 0 -2%
            +border-radius(0 $radius-sm $radius-sm 0)
.footer-stats
    font-size: 14px
    padding-top: 1.2em
    padding-bottom: 2em
    margin: 0 0 2em 0
    border-top: 2px solid darken($c-base, 20%)
    border-bottom: 1px solid darken($c-base, 20%)
    strong
        font-weight: 700
.m-stats-title
    display: block
.m-stats-single
    font-weight: 700
.m-modx_logo
    background: url(../../images/redo/elements/modx-logo-fixed.png) no-repeat 0 0
    display: block
    height: 50px
    width: 130px
    +opacity(0.4)
    &:hover
        +opacity(0.6)
.backgroundsize
    .m-modx_logo
        width: 90%
        height: 7.5em
        background: url(../../images/redo/elements/modx-logo-sizeable.png) no-repeat 0 0
        background-size: 100% auto

// buttons

#dis-quick-reply-form
    margin: 3em 0 0 0

.wysi-buttons
    margin: 0
    height: 35px
.toolbar-btns
    background-color: #666
    +background(linear-gradient(lighten($c-dark-cool-bg, 9%), lighten($c-dark-cool-bg, 1%)))
    border-radius: 3px 3px 0 0
    margin: 0 !important
    a
        float: left
        height: 35px
        width: 37px
        overflow: hidden
        white-space: nowrap
        text-indent: 101%
        background: url(../../images/redo/icons/forums-bb-icons.png) no-repeat -35px -36px
        border-right: 1px solid darken($c-dark-cool-bg, 5%)
        border-left: 1px solid lighten($c-dark-cool-bg, 12%)
        opacity: .8
        &:hover
            opacity: 1
            background-color: darken($c-dark-cool-bg, 5%)
        &:first-child
            border-left: none
a
    &.italics
        background-position: -397px -35px
    &.underline
        background-position: -335px -35px
    &.strikethrough
        background-position: -274px -36px
    &.insert-image
        background-position: -572px -34px
    &.url
        background-position: -453px -35px
    &.code
        background-position: -203px -36px
    &.pre
        background-position: -208px -36px
    &.insert-quote
        background-position: -512px -34px
    &.ul-list
        background-position: -93px -36px
    &.ol-list
        background-position: -151px -36px
    &.preview
        @extend .m-raised-dark-bg-alt
        text-indent: 0
        background-image: none
        color: lighten($c-dark-cool-bg, 82%)
        width: 100px

a#dis-preview-btn.preview
    @extend .m-raised-dark-bg-alt
    background-color: lighten($c-dark-cool-bg, 10%)
    border-radius: 30px
    height: 16px
    margin: 5px 5px 0 5px
    text-align: center
    padding: 4px
    float: right
    opacity: 1
    &:hover
        background-color: lighten($c-dark-cool-bg, 15%)
        text-decoration: none
.dis-form
    textarea
        @extend .m-raised-panel-box
        width: 96.8% !important
        margin: 0 !important
        padding: 1.6% !important
        font-size: 1em
        border-top:  none
        border-radius: 0 0 3px 3px
        &:focus
            outline: none
            border-top: none
        &:hover
            border: none

// Preivew
.dis-post-content
    font-size: 14px
    line-height: 1.5
    strong
        font-weight: 700
    em
        font-style: italic
    ul
        list-style: disc
    ol
        list-style: decimal
    ul, ol
        padding: 0 0 0 1em
.dis-post-preview
    .dis-post-header
        .dis-message-cancel.l-right
            // @extend .m-raised-dark-bg-nh
            float: right
            margin: -.2em 1.2em 0 0
            border: none
            +box-shadow(none)

#dis-message-preview
    @extend .dis-post-right
    background-color: #FFFFFF
    display: none
    top: 0
    left: 0px
    margin: 0
    // padding: 12px 0 20px
    position: absolute
    width: 100%
    z-index: 700
    +border-radius($radius-sm)
    +box-shadow(lighten(#000, 45%) 0 1px 25px, (lighten(#000, 35%) 0 1px 5px))


// General action buttons for submit forms
.a-primary-btn
    @extend .primary-cta
    +rem('padding', 10px 15px)
    +rem('font-size', 15px)
    clear: both
    display: inline-block
    cursor: pointer
    &:hover
        +rem('padding', 10px 15px)


// Reply
.dis-form-buttons .a-reply
    @extend .primary-cta
    +rem('padding', 10px 15px)
    +rem('font-size', 15px)
    clear: both
    display: inline-block
    &:hover
        +rem('padding', 10px 15px)
.dis-profile .dis-cb, .dis-form .dis-cb
    display: inline-block
    vertical-align: top
    font-weight: normal
    clear: both
    line-height: 22px
    margin: 7px 10px 0 7px
    color: #5a5a5a
    width: auto

// ignore view
.ignore
    li
        font-size: 1.8rem
        font-weight: bold
        margin-top: 20px
        display: inline-block
        padding-right: 20px
        margin-right: 20px
        border-left: 1px dotted #cccccc
        vertical-align: top
        label
            margin-left: 20px
    ul
        padding-left: 20px
        li
            font-size: 1.3rem
            font-weight: normal
            margin-top: 0
            float: none
            border-left: none
            display: block

// thread reply
.m-dis-thread-type, .dis-thread-info
    position: relative
.m-dis-thread-type-wrap
    width: 250px
    position: absolute

section.group
    width: 100%

.dis-thread-form
    section
        margin-bottom: 10px
        padding-bottom: 10px

.dis-thread-info
    margin: 1px 0 0 240px
    float: left
    color: #000
    +rem('font-size', 13px)
    position: relative
    overflow: hidden
    p
        color: #000
    a
        display: inline-block
        padding: 4px 10px
        background-color: rgba(black, .09)
        +border-radius($radius-sm)
        &:hover
            text-decoration: none
            background-color: rgba(black, .05)

.m-dis-choose-info
    font-size: 16px
    font-weight: normal
    margin: 10px 25px 10px 0px


.m-dis-thread-type
    margin: 10px 0

.dis-form
    .dis-new-thread-title
        display: block
        width: 99% !important
        margin: 5px 0 10px 0
        border: 1px solid darken($c-base, 20%)
        +rem('font-size', 15px)
        padding: 5px
.twelve-form
    .dis-form
        label
            margin: 0
            font-weight: bold
            opacity: .99
            +rem('font-size', 15px)
.m-dis-discussion, .m-dis-question
    @extend .btn-secondary-alt-cta
    @include background(image-url("../../images/redo/icons/selected.png") no-repeat 3px 5px, linear-gradient(bottom, rgba(0,0,0,.06) 0%, rgba(255,255,255,.06) 100%))
    padding-left: 23px
    &:hover
        background-color: #fff
        @include background(image-url("../../images/redo/icons/selected.png") no-repeat 3px 5px, linear-gradient(bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,.3) 100%))
    &.current
        @extend .btn-toggle-active
        @include background(image-url("../../images/redo/icons/selected.png") no-repeat 3px -109px, linear-gradient(bottom, #8c8c8c 0%, #737373 100%))
        color: #fff
        +text-shadow(none)
    &.current:hover
        @extend .btn-toggle-active
        @include background(image-url("../../images/redo/icons/selected.png") no-repeat 3px -109px, linear-gradient(bottom, #8c8c8c 0%, #737373 100%))

    label
        margin: 0
        padding: 5px 10px
        cursor: pointer
        font-weight: bold
        +rem('font-size', 14px)
        input
            display: none

.m


// new thread view
.twelve-form
    input[type="submit"]
        @extend .primary-cta
        +rem('padding', 10px 15px)
        +rem('font-size', 15px)
        clear: both
        display: inline-block
        cursor: pointer
        &:hover
            +rem('padding', 10px 15px)
    h1
        // font-size: 15px
        font-weight: bold
    .dis-title
        margin: 10px 0
        label, input#dis-new-thread-title
            display: inline-block
        label
            margin: 0 0 0 0
            padding-right: 5px
            font-size: 15px
            font-weight: bold
            color: black
        input
            padding: 3px
            margin: 5px 0 10px 0
            font-size: 15px