/* @override http://discuss.modx.localhost/assets/components/discuss/themes/modx-dev/css/redo/build.css */


body {font-family:"proxima-nova",sans-serif;
    background-color: #f9f9f9;
    font-size: 13px;
    line-height: 1.4;
} 
.breadcrumbs {
    padding-top: .5%;
    padding-bottom: .5%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.masthead a {
    color: #fff;
}
.masthead .h-ir 
    {
        display: block;
        background: url(../../images/redo/elements/forums-logo.png) no-repeat left top;
        height: 42px;
        text-align: left;
    }

.h-group{zoom:1}.h-group:before,.h-group:after{content:"";display:table}.h-group:after{clear:both}