/* line 17, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
/* line 17, ../../sass/lib/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, ../../sass/lib/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../../sass/lib/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../../sass/lib/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../../sass/lib/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, ../../sass/lib/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
/* line 52, ../../sass/lib/_reset.scss */
ins {
  text-decoration: none; }

/* line 55, ../../sass/lib/_reset.scss */
del {
  text-decoration: line-through; }

/* line 59, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 6, ../../sass/_grid.scss */
.group {
  overflow: hidden;
  *zoom: 1; }

/* line 7, ../../sass/_grid.scss */
.cell {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  vertical-align: top;
  display: inline-block;
  white-space: normal; }

/* line 8, ../../sass/_grid.scss */
.cell {
  *display: inline; }

/* line 8, ../../sass/_typography.sass */
.new-forums #body {
  font-family: "proxima-nova", sans-serif;
  font: 13px/1.4; }

/* line 21, ../../sass/_brand-colors.sass */
.dark-gradient {
  background-color: #a3c94f;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #17312f), color-stop(100%, #275450));
  background-image: -webkit-linear-gradient(left top, #17312f, #275450);
  background-image: -moz-linear-gradient(left top, #17312f, #275450);
  background-image: -o-linear-gradient(left top, #17312f, #275450);
  background-image: -ms-linear-gradient(left top, #17312f, #275450);
  background-image: linear-gradient(left top, #17312f, #275450);
  color: white; }

/* line 26, ../../sass/_brand-colors.sass */
.color {
  color: #efefef; }

/* line 1, ../../sass/lib/_shared.sass */
body {
  font-size: 66.7%;
  background-color: #f9f9f9; }

/* line 6, ../../sass/lib/_shared.sass */
a {
  color: #215a55;
  text-decoration: none; }
  /* line 9, ../../sass/lib/_shared.sass */
  a:hover {
    color: black;
    text-decoration: underline; }

/* line 12, ../../sass/lib/_shared.sass */
.l-right {
  float: right; }

/* line 14, ../../sass/lib/_shared.sass */
.l-left {
  float: left; }

/* line 18, ../../sass/lib/_shared.sass */
.m-login_block input[type="text"], .m-login_block input[type="password"] {
  display: block;
  width: 100%;
  padding: 5px 3px;
  padding:  0.385rem 0.231rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none; }
/* line 24, ../../sass/lib/_shared.sass */
.m-login_block input {
  vertical-align: top;
  display: inline-block;
  margin-top: 0; }

/* line 31, ../../sass/lib/_shared.sass */
.m-breadcrumbs li {
  display: inline-block;
  line-height: 1;
  vertical-align: bottom;
  padding: 3px 0; }
  /* line 36, ../../sass/lib/_shared.sass */
  .m-breadcrumbs li:after {
    content: "\2192 ";
    padding-left: 3px;
    padding-right: 3px;
    color: #cccccc; }
  /* line 41, ../../sass/lib/_shared.sass */
  .m-breadcrumbs li:last-child:after {
    content: ""; }
/* line 43, ../../sass/lib/_shared.sass */
.m-breadcrumbs a {
  color: #939393;
  text-decoration: none; }
  /* line 46, ../../sass/lib/_shared.sass */
  .m-breadcrumbs a:hover {
    color: #131313; }

/* line 51, ../../sass/lib/_shared.sass */
.m-sm_nav_pod a {
  padding: 5px 7px 5px 0;
  padding:  0.385rem 0.538rem 0.385rem 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  line-height: 1; }
/* line 55, ../../sass/lib/_shared.sass */
.m-sm_nav_pod a:after {
  content: "|";
  padding: 0 0 0 7px;
  padding:  0 0 0 0.538rem; }
/* line 58, ../../sass/lib/_shared.sass */
.m-sm_nav_pod li:last-child a:after {
  content: "";
  padding: 0; }

/* line 63, ../../sass/lib/_shared.sass */
footer {
  background: url(../images/bg/section-border-medy-repeat.png) repeat-x left top;
  padding: 1.5em 0;
  margin: 5em 0 0 0; }
  /* line 67, ../../sass/lib/_shared.sass */
  footer a {
    white-space: nowrap; }
  /* line 69, ../../sass/lib/_shared.sass */
  footer .copy-info {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.5em 0 0 1.3em; }
    /* line 73, ../../sass/lib/_shared.sass */
    footer .copy-info p, footer .copy-info ul {
      margin: 0 0 0.25em 0; }
    /* line 75, ../../sass/lib/_shared.sass */
    footer .copy-info p, footer .copy-info a {
      opacity: 0.4; }
    /* line 77, ../../sass/lib/_shared.sass */
    footer .copy-info p {
      padding-top: 0.7em; }
    /* line 79, ../../sass/lib/_shared.sass */
    footer .copy-info a:hover {
      opacity: 0.8; }
    /* line 81, ../../sass/lib/_shared.sass */
    footer .copy-info li:first-child {
      padding-left: 0; }
  /* line 83, ../../sass/lib/_shared.sass */
  footer .modx-logo {
    background: url(../images/elements/modx-logo-footer.png) no-repeat left top;
    height: 45px;
    width: 115px;
    display: inline-block;
    vertical-align: text-top;
    opacity: 0.4; }
  /* line 90, ../../sass/lib/_shared.sass */
  footer .modx-logo:hover {
    opacity: 0.8; }
  /* line 92, ../../sass/lib/_shared.sass */
  footer .horiz-list li a {
    padding: 0.25em 0.75em;
    text-decoration: none;
    color: black; }
  /* line 97, ../../sass/lib/_shared.sass */
  footer nav ul.horiz-list {
    margin: 0; }
    /* line 101, ../../sass/lib/_shared.sass */
    footer nav ul.horiz-list li a:after {
      content: "|";
      padding: 0 0.75em;
      margin-right: -1.25em; }
    /* line 105, ../../sass/lib/_shared.sass */
    footer nav ul.horiz-list li:last-child a:after {
      content: ""; }
    /* line 107, ../../sass/lib/_shared.sass */
    footer nav ul.horiz-list a, footer nav ul.horiz-list h3 {
      font-size: 13px;
      font-weight: bold; }
  /* line 110, ../../sass/lib/_shared.sass */
  footer .row .stay-connected {
    padding-left: 1.75em;
    border-left: 1px dotted silver;
    margin-left: 0; }

/* line 3, ../../sass/lib/_layout.sass */
.m-sm_nav_pod li {
  display: inline-block; }
/* line 5, ../../sass/lib/_layout.sass */
.m-sm_nav_pod a {
  display: block;
  text-decoration: none; }

/* line 10, ../../sass/lib/_layout.sass */
.m-breadcrumbs {
  margin: 0 0 12px 0;
  margin:  0 0 0.923rem 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: white;
  border-bottom: 1px solid #cccccc; }

/* line 2, ../../sass/lib/_masthead.sass */
.masthead {
  background: url(../../images/redo/bg/masthead-highlight.png) no-repeat center, url(../../images/redo/bg/masthead-flourish.jpg) no-repeat center top;
  background-color: #17312f;
  color: white; }
  /* line 6, ../../sass/lib/_masthead.sass */
  .masthead a {
    color: white; }
  /* line 8, ../../sass/lib/_masthead.sass */
  .masthead > div {
    padding-bottom: 10px;
    padding: 0 0 14px 0;
    padding:  0 0 1.077rem 0; }
  /* line 13, ../../sass/lib/_masthead.sass */
  .masthead a.h-ir {
    background: url(../../images/redo/elements/forums-logo.png) no-repeat left top;
    height: 42px; }
  /* line 16, ../../sass/lib/_masthead.sass */
  .masthead .m-sm_nav_pod {
    background: url(../../images/redo/bg/masthead-nav-highlight.png) no-repeat left bottom;
    padding: 5px 0;
    padding:  0.385rem 0;
    margin: 0 0 18px 0;
    margin:  0 0 1.385rem 0; }
    /* line 20, ../../sass/lib/_masthead.sass */
    .masthead .m-sm_nav_pod a {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      color: #6fa5a1; }
      /* line 23, ../../sass/lib/_masthead.sass */
      .masthead .m-sm_nav_pod a:hover {
        color: white;
        text-decoration: underline; }
      /* line 26, ../../sass/lib/_masthead.sass */
      .masthead .m-sm_nav_pod a:after {
        color: #6fa5a1; }
      /* line 28, ../../sass/lib/_masthead.sass */
      .masthead .m-sm_nav_pod a:hover:after {
        text-decoration: none; }
  /* line 31, ../../sass/lib/_masthead.sass */
  .masthead .m-login_box {
    padding: 14px 0 5px 14px;
    padding:  1.077rem 0 0.385rem 1.077rem; }
    /* line 33, ../../sass/lib/_masthead.sass */
    .masthead .m-login_box .masthead-title {
      margin-bottom: 7px;
      margin-bottom: 0.538rem;
      color: #6fa5a1; }
      /* line 36, ../../sass/lib/_masthead.sass */
      .masthead .m-login_box .masthead-title strong {
        color: white;
        font-weight: 500;
        font-size: 1.2em;
        margin: 0 0.2em 0 0; }
  /* line 41, ../../sass/lib/_masthead.sass */
  .masthead label {
    font-family: georgia, times, serif;
    font-style: italic;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  /* line 45, ../../sass/lib/_masthead.sass */
  .masthead input {
    margin: 5px 5px 5px 0;
    margin:  0.385rem 0.385rem 0.385rem 0;
    outline: none; }
  /* line 48, ../../sass/lib/_masthead.sass */
  .masthead input[type="submit"] {
    color: white !important;
    font-weight: 500;
    background-color: #89c8da;
    border-color: #3693ad;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7dc3d6), color-stop(100%, #4fadc8));
    background-image: -webkit-linear-gradient(#7dc3d6, #4fadc8);
    background-image: -moz-linear-gradient(#7dc3d6, #4fadc8);
    background-image: -o-linear-gradient(#7dc3d6, #4fadc8);
    background-image: -ms-linear-gradient(#7dc3d6, #4fadc8);
    background-image: linear-gradient(#7dc3d6, #4fadc8);
    text-shadow: #18414c 0 1px 0; }
    /* line 55, ../../sass/lib/_masthead.sass */
    .masthead input[type="submit"]:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #95cdde), color-stop(100%, #89c8da)) !important;
      background-image: -webkit-linear-gradient(#95cdde, #89c8da) !important;
      background-image: -moz-linear-gradient(#95cdde, #89c8da) !important;
      background-image: -o-linear-gradient(#95cdde, #89c8da) !important;
      background-image: -ms-linear-gradient(#95cdde, #89c8da) !important;
      background-image: linear-gradient(#95cdde, #89c8da) !important; }
  /* line 57, ../../sass/lib/_masthead.sass */
  .masthead input[type="text"], .masthead input[type="password"] {
    background-color: #0f201e;
    border: solid 1px black;
    -webkit-box-shadow: #214643 0 1px 0, black 0 -1px 0;
    -moz-box-shadow: #214643 0 1px 0, black 0 -1px 0;
    box-shadow: #214643 0 1px 0, black 0 -1px 0; }
    /* line 61, ../../sass/lib/_masthead.sass */
    .masthead input[type="text"]:focus, .masthead input[type="password"]:focus {
      color: black;
      background-color: white;
      border: solid 1px #3e847f;
      -webkit-box-shadow: #5cb3ac 0 0 7px;
      -moz-box-shadow: #5cb3ac 0 0 7px;
      box-shadow: #5cb3ac 0 0 7px; }

/* line 1, ../../sass/lib/_helpers.sass */
.h-ir {
  display: block;
  text-align: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* line 3, ../../sass/lib/_buttons.sass */
.primary-cta,
.dis-cat-header .action-buttons,
.secondary-cta {
  color: white;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  /* line 10, ../../sass/lib/_buttons.sass */
  .primary-cta:hover,
  .dis-cat-header .action-buttons:hover,
  .secondary-cta:hover {
    text-decoration: none; }

/* line 15, ../../sass/lib/_buttons.sass */
.primary-cta,
.dis-cat-header .action-buttons {
  color: white;
  margin: 0 0 0 1em;
  border: none;
  padding: 5px;
  padding: 0.385rem;
  text-shadow: #4c611e 0 1px 0;
  line-height: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5ca53), color-stop(100%, #7a9c30));
  background-image: -webkit-linear-gradient(#a5ca53, #7a9c30);
  background-image: -moz-linear-gradient(#a5ca53, #7a9c30);
  background-image: -o-linear-gradient(#a5ca53, #7a9c30);
  background-image: -ms-linear-gradient(#a5ca53, #7a9c30);
  background-image: linear-gradient(#a5ca53, #7a9c30);
  -webkit-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
  -moz-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
  box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0; }
  /* line 26, ../../sass/lib/_buttons.sass */
  .primary-cta:hover,
  .dis-cat-header .action-buttons:hover {
    padding: 5px;
    padding: 0.385rem;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9cd5b), color-stop(100%, #8cb337));
    background-image: -webkit-linear-gradient(#a9cd5b, #8cb337);
    background-image: -moz-linear-gradient(#a9cd5b, #8cb337);
    background-image: -o-linear-gradient(#a9cd5b, #8cb337);
    background-image: -ms-linear-gradient(#a9cd5b, #8cb337);
    background-image: linear-gradient(#a9cd5b, #8cb337);
    -webkit-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
    -moz-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
    box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0; }

/* line 31, ../../sass/lib/_buttons.sass */
.secondary-cta {
  color: #606060;
  padding: 3px 7px;
  margin: 3px 2px;
  background-color: #d3d3d3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececec), color-stop(100%, #cecece));
  background-image: -webkit-linear-gradient(#ececec, #cecece);
  background-image: -moz-linear-gradient(#ececec, #cecece);
  background-image: -o-linear-gradient(#ececec, #cecece);
  background-image: -ms-linear-gradient(#ececec, #cecece);
  background-image: linear-gradient(#ececec, #cecece);
  -webkit-box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  -moz-box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  border: 1px solid #acacac;
  text-shadow: white 0 1px 0; }
  /* line 40, ../../sass/lib/_buttons.sass */
  .secondary-cta:hover {
    color: #131313;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #e2e2e2));
    background-image: -webkit-linear-gradient(#f1f1f1, #e2e2e2);
    background-image: -moz-linear-gradient(#f1f1f1, #e2e2e2);
    background-image: -o-linear-gradient(#f1f1f1, #e2e2e2);
    background-image: -ms-linear-gradient(#f1f1f1, #e2e2e2);
    background-image: linear-gradient(#f1f1f1, #e2e2e2); }
  /* line 43, ../../sass/lib/_buttons.sass */
  .secondary-cta:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#cecece, #dddddd);
    background-image: -moz-linear-gradient(#cecece, #dddddd);
    background-image: -o-linear-gradient(#cecece, #dddddd);
    background-image: -ms-linear-gradient(#cecece, #dddddd);
    background-image: linear-gradient(#cecece, #dddddd);
    -webkit-box-shadow: #464646 0 1px 3px inset;
    -moz-box-shadow: #464646 0 1px 3px inset;
    box-shadow: #464646 0 1px 3px inset;
    border: 1px solid #797979; }
  /* line 47, ../../sass/lib/_buttons.sass */
  .secondary-cta:visited {
    color: #797979; }

/* line 49, ../../sass/lib/_buttons.sass */
.a-secondary-cta {
  line-height: 1;
  color: white;
  padding: 10px 7px;
  margin: 3px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #d3d3d3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cbcbcb), color-stop(100%, #9b9b9b));
  background-image: -webkit-linear-gradient(#cbcbcb, #9b9b9b);
  background-image: -moz-linear-gradient(#cbcbcb, #9b9b9b);
  background-image: -o-linear-gradient(#cbcbcb, #9b9b9b);
  background-image: -ms-linear-gradient(#cbcbcb, #9b9b9b);
  background-image: linear-gradient(#cbcbcb, #9b9b9b);
  -webkit-box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  -moz-box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  border: 1px solid #c6c6c6;
  display: block;
  font-size: 13px;
  font-size: 1rem;
  text-align: center; }
  /* line 62, ../../sass/lib/_buttons.sass */
  .a-secondary-cta span {
    font-size: 70%;
    white-space: nowrap; }
  /* line 65, ../../sass/lib/_buttons.sass */
  .a-secondary-cta:hover {
    color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dadada), color-stop(100%, #acacac));
    background-image: -webkit-linear-gradient(#dadada, #acacac);
    background-image: -moz-linear-gradient(#dadada, #acacac);
    background-image: -o-linear-gradient(#dadada, #acacac);
    background-image: -ms-linear-gradient(#dadada, #acacac);
    background-image: linear-gradient(#dadada, #acacac); }

/* line 70, ../../sass/lib/_buttons.sass */
.a-faux-btn.a-secondary-cta {
  padding: 0; }
  /* line 72, ../../sass/lib/_buttons.sass */
  .a-faux-btn.a-secondary-cta a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececec), color-stop(100%, #cecece));
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -webkit-linear-gradient(#ececec, #cecece);
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -moz-linear-gradient(#ececec, #cecece);
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -o-linear-gradient(#ececec, #cecece);
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -ms-linear-gradient(#ececec, #cecece);
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, linear-gradient(#ececec, #cecece); }
    /* line 77, ../../sass/lib/_buttons.sass */
    .a-faux-btn.a-secondary-cta a:hover {
      color: white;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dadada), color-stop(100%, #acacac));
      background-image: -webkit-linear-gradient(#dadada, #acacac);
      background-image: -moz-linear-gradient(#dadada, #acacac);
      background-image: -o-linear-gradient(#dadada, #acacac);
      background-image: -ms-linear-gradient(#dadada, #acacac);
      background-image: linear-gradient(#dadada, #acacac); }
  /* line 80, ../../sass/lib/_buttons.sass */
  .a-faux-btn.a-secondary-cta:hover {
    color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cbcbcb), color-stop(100%, #9b9b9b));
    background-image: -webkit-linear-gradient(#cbcbcb, #9b9b9b);
    background-image: -moz-linear-gradient(#cbcbcb, #9b9b9b);
    background-image: -o-linear-gradient(#cbcbcb, #9b9b9b);
    background-image: -ms-linear-gradient(#cbcbcb, #9b9b9b);
    background-image: linear-gradient(#cbcbcb, #9b9b9b); }

/* line 83, ../../sass/lib/_buttons.sass */
.alt-1-cta {
  color: white;
  background-color: #89c8da !important; }

/* line 5, ../../sass/_forums.sass */
body {
  color: #444444; }

/* line 7, ../../sass/_forums.sass */
h3.forum {
  color: #199fc9;
  font-size: 16px;
  font-size: 1.231rem;
  font-weight: bold;
  padding: 0 0 0 0.8em; }

/* line 14, ../../sass/_forums.sass */
.dis-cat-header {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #194b47;
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #244d4a), color-stop(100%, #17312f));
  background-image: -webkit-linear-gradient(#244d4a, #17312f);
  background-image: -moz-linear-gradient(#244d4a, #17312f);
  background-image: -o-linear-gradient(#244d4a, #17312f);
  background-image: -ms-linear-gradient(#244d4a, #17312f);
  background-image: linear-gradient(#244d4a, #17312f);
  border-bottom: solid 1px #17312f;
  color: white;
  line-height: 1; }
  /* line 35, ../../sass/_forums.sass */
  .dis-cat-header h1 {
    color: white;
    font-weight: 500 !important;
    border: 0 !important;
    float: left;
    padding: 10px;
    padding-bottom: 0; }
  /* line 44, ../../sass/_forums.sass */
  .dis-cat-header .post-box a.Button {
    color: white;
    margin: 0 0 0 1em;
    border: none;
    padding: 5px;
    padding: 0.385rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5ca53), color-stop(100%, #7a9c30));
    background-image: -webkit-linear-gradient(#a5ca53, #7a9c30);
    background-image: -moz-linear-gradient(#a5ca53, #7a9c30);
    background-image: -o-linear-gradient(#a5ca53, #7a9c30);
    background-image: -ms-linear-gradient(#a5ca53, #7a9c30);
    background-image: linear-gradient(#a5ca53, #7a9c30);
    -webkit-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
    -moz-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
    box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0; }
    /* line 52, ../../sass/_forums.sass */
    .dis-cat-header .post-box a.Button:hover {
      padding: 5px;
      padding: 0.385rem;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9cd5b), color-stop(100%, #7a9c30));
      background-image: -webkit-linear-gradient(#a9cd5b, #7a9c30);
      background-image: -moz-linear-gradient(#a9cd5b, #7a9c30);
      background-image: -o-linear-gradient(#a9cd5b, #7a9c30);
      background-image: -ms-linear-gradient(#a9cd5b, #7a9c30);
      background-image: linear-gradient(#a9cd5b, #7a9c30);
      -webkit-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
      -moz-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
      box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0; }

/* line 57, ../../sass/_forums.sass */
.row + .dis-cat-header {
  margin-top: 1em; }

/* line 61, ../../sass/_forums.sass */
.m-section_title {
  background-color: #ececec;
  border-radius: 5px; }
  /* line 64, ../../sass/_forums.sass */
  .m-section_title h1 {
    font-size: 15px;
    padding: 10px; }
  /* line 67, ../../sass/_forums.sass */
  .m-section_title .row {
    color: black;
    font-weight: 700;
    border-bottom: px solid white;
    border-radius: 0 0 3px 3px;
    line-height: 1;
    padding: 7px 6px 7px 8px;
    margin-bottom: 0.35em; }
  /* line 75, ../../sass/_forums.sass */
  .m-section_title .dis-cat-header {
    margin-top: 2em; }

/* line 81, ../../sass/_forums.sass */
.forum-grid .dis-board-subs {
  color: white;
  padding: 5px 5px 5px 57px;
  background: url(../../images/redo/icons/arrow.png) no-repeat 39px 11px; }
  /* line 85, ../../sass/_forums.sass */
  .forum-grid .dis-board-subs strong, .forum-grid .dis-board-subs a {
    font-size: 10px;
    font-size: 0.769rem; }
  /* line 87, ../../sass/_forums.sass */
  .forum-grid .dis-board-subs strong {
    color: black; }
  /* line 89, ../../sass/_forums.sass */
  .forum-grid .dis-board-subs a {
    color: #464646;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(100%, #e0e0e0));
    background-image: -webkit-linear-gradient(#e7e7e7, #e0e0e0);
    background-image: -moz-linear-gradient(#e7e7e7, #e0e0e0);
    background-image: -o-linear-gradient(#e7e7e7, #e0e0e0);
    background-image: -ms-linear-gradient(#e7e7e7, #e0e0e0);
    background-image: linear-gradient(#e7e7e7, #e0e0e0);
    border: solid 1px #e0e0e0;
    display: inline-block;
    padding: 3px 6px;
    margin-top: 2px;
    line-height: 1;
    border-radius: 3px; }
    /* line 99, ../../sass/_forums.sass */
    .forum-grid .dis-board-subs a:hover {
      color: #131313;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #e7e7e7));
      background-image: -webkit-linear-gradient(#f1f1f1, #e7e7e7);
      background-image: -moz-linear-gradient(#f1f1f1, #e7e7e7);
      background-image: -o-linear-gradient(#f1f1f1, #e7e7e7);
      background-image: -ms-linear-gradient(#f1f1f1, #e7e7e7);
      background-image: linear-gradient(#f1f1f1, #e7e7e7);
      border: solid 1px #e7e7e7;
      text-decoration: none; }
    /* line 104, ../../sass/_forums.sass */
    .forum-grid .dis-board-subs a:active {
      -webkit-box-shadow: #b4b4b4 0 0 1px inset;
      -moz-box-shadow: #b4b4b4 0 0 1px inset;
      box-shadow: #b4b4b4 0 0 1px inset; }

/* line 109, ../../sass/_forums.sass */
.panel-stack {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/* line 114, ../../sass/_forums.sass */
.forum-grid {
  font-size: 11px;
  font-size: 0.846rem;
  line-height: 1.1;
  width: 100%;
  color: #777777;
  margin-top: 2.3em; }
  /* line 124, ../../sass/_forums.sass */
  .forum-grid p {
    color: black;
    line-height: 1.1;
    margin: 0 0 0.25em 0; }
  /* line 129, ../../sass/_forums.sass */
  .forum-grid a {
    text-decoration: none;
    color: #111111; }
  /* line 132, ../../sass/_forums.sass */
  .forum-grid a.h-group {
    display: block;
    cursor: pointer; }
  /* line 136, ../../sass/_forums.sass */
  .forum-grid.dis-threads h1 {
    font-size: 19px;
    font-size: 1.462rem;
    font-weight: 700;
    margin: 0; }
  /* line 140, ../../sass/_forums.sass */
  .forum-grid .dis-board-description {
    margin: 0.25em 0;
    color: #777777; }
  /* line 144, ../../sass/_forums.sass */
  .forum-grid .first {
    width: 63%;
    padding: 0 2% 0 0; }
  /* line 147, ../../sass/_forums.sass */
  .forum-grid .second {
    width: 7%;
    text-align: center; }
  /* line 150, ../../sass/_forums.sass */
  .forum-grid .third {
    width: 7%;
    text-align: center; }
  /* line 153, ../../sass/_forums.sass */
  .forum-grid .fourth {
    width: 20%; }
    /* line 155, ../../sass/_forums.sass */
    .forum-grid .fourth p {
      display: inline; }
  /* line 157, ../../sass/_forums.sass */
  .forum-grid .fifth {
    width: 18%; }
  /* line 159, ../../sass/_forums.sass */
  .forum-grid .row {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid white; }
    /* line 163, ../../sass/_forums.sass */
    .forum-grid .row:hover {
      border-bottom-color: #d8d8d8;
      border-top-color: white; }
    /* line 166, ../../sass/_forums.sass */
    .forum-grid .row.header-row {
      font-size: 12px;
      font-size: 0.923rem;
      font-weight: bold;
      color: black;
      border-bottom: 2px solid #d3d3d3; }
    /* line 171, ../../sass/_forums.sass */
    .forum-grid .row > a {
      padding: 0.5em; }
      /* line 173, ../../sass/_forums.sass */
      .forum-grid .row > a:hover {
        background-color: white;
        text-decoration: underline; }
  /* line 177, ../../sass/_forums.sass */
  .forum-grid .heading {
    color: #535353;
    background-color: #a0a0a0;
    margin: 0 0 0.4em 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(100%, #d8d8d8));
    background: -webkit-linear-gradient(#e7e7e7, #d8d8d8);
    background: -moz-linear-gradient(#e7e7e7, #d8d8d8);
    background: -o-linear-gradient(#e7e7e7, #d8d8d8);
    background: -ms-linear-gradient(#e7e7e7, #d8d8d8);
    background: linear-gradient(#e7e7e7, #d8d8d8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    /* line 183, ../../sass/_forums.sass */
    .forum-grid .heading .cell {
      padding-top: 0.2em;
      padding-bottom: 0.2em; }
  /* line 186, ../../sass/_forums.sass */
  .forum-grid strong {
    font-size: 13px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    line-height: 1.1; }
  /* line 191, ../../sass/_forums.sass */
  .forum-grid .posted-date, .forum-grid .posted-by {
    font-size: 10px;
    font-size: 0.769rem;
    color: #919191; }
  /* line 197, ../../sass/_forums.sass */
  .forum-grid.category .first {
    width: 55%; }
  /* line 199, ../../sass/_forums.sass */
  .forum-grid.category .second {
    width: 11%;
    padding: 0 2%;
    text-align: center; }
  /* line 203, ../../sass/_forums.sass */
  .forum-grid.category .third {
    width: 24%;
    padding: 0 0 0 2%;
    text-align: right;
    margin: 0 -1% 0 0; }
  /* line 208, ../../sass/_forums.sass */
  .forum-grid.category.boards {
    margin: 0; }

/* line 212, ../../sass/_forums.sass */
.dis-category .wrap {
  background: url(../../images/redo/icons/i-category.png) no-repeat 4px 7px !important;
  padding-left: 31px !important; }

/* line 215, ../../sass/_forums.sass */
.dis-unread .wrap {
  background: url(../../images/redo/icons/i-unread.png) no-repeat 0 5px !important; }

/* line 217, ../../sass/_forums.sass */
.dis-category.dis-unread .wrap {
  background: url(../../images/redo/icons/i-category-unread.png) no-repeat 2px 2px !important; }

/* line 220, ../../sass/_forums.sass */
.boards + .forum-grid {
  margin-top: 0; }

/* line 222, ../../sass/_forums.sass */
.boards .row:last-child {
  border: none;
  padding-bottom: 0; }

/* line 227, ../../sass/_forums.sass */
.Category {
  padding: 5px 20px 0 0;
  padding:  0.385rem 1.538rem 0 0;
  margin-top: 5px;
  margin-top: 0.385rem; }
  /* line 230, ../../sass/_forums.sass */
  .Category a {
    color: #17312f;
    text-decoration: none;
    font-size: 25px;
    font-size: 1.923rem; }

/* line 235, ../../sass/_forums.sass */
.dis-list {
  margin: 1em 0 0 0;
  line-height: 1.4;
  -webkit-box-shadow: #ececec 0 0 3px;
  -moz-box-shadow: #ececec 0 0 3px;
  box-shadow: #ececec 0 0 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #e0e0e0;
  background-color: white; }
  /* line 243, ../../sass/_forums.sass */
  .dis-list .dis-post {
    border-bottom: solid 1px #d8d8d8;
    border-top: solid 1px white;
    margin: 0;
    width: 96%;
    padding: 1.75% 2% 3% 2%;
    float: right; }
    /* line 250, ../../sass/_forums.sass */
    .dis-list .dis-post:first-child {
      border-top: none;
      padding-top: 3%; }
    /* line 253, ../../sass/_forums.sass */
    .dis-list .dis-post:last-child {
      padding-bottom: 5%; }
    /* line 255, ../../sass/_forums.sass */
    .dis-list .dis-post .dis-content {
      overflow: hidden; }
      /* line 257, ../../sass/_forums.sass */
      .dis-list .dis-post .dis-content strong {
        font-weight: 700; }
    /* line 259, ../../sass/_forums.sass */
    .dis-list .dis-post li {
      border: none; }
    /* line 261, ../../sass/_forums.sass */
    .dis-list .dis-post .dis-post-footer {
      width: 88%;
      float: right;
      font-size: 10px;
      font-size: 0.769rem; }
      /* line 265, ../../sass/_forums.sass */
      .dis-list .dis-post .dis-post-footer .dis-post-editedon {
        padding: 1em 0 0 0;
        font-style: italic;
        color: #797979; }

/* line 270, ../../sass/_forums.sass */
.dis-post .title a {
  color: black;
  text-decoration: none; }
  /* line 273, ../../sass/_forums.sass */
  .dis-post .title a:hover {
    text-decoration: underline; }
/* line 275, ../../sass/_forums.sass */
.dis-post .title strong {
  font-weight: 700;
  color: black; }

/* line 278, ../../sass/_forums.sass */
.dis-post-left {
  float: left;
  width: 9%; }
  /* line 282, ../../sass/_forums.sass */
  .dis-post-left img {
    width: 100%;
    max-width: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  /* line 286, ../../sass/_forums.sass */
  .dis-post-left .auth-avatar {
    display: block;
    border: none; }
  /* line 289, ../../sass/_forums.sass */
  .dis-post-left .dis-usr-post-count, .dis-post-left .dis-usr-icon {
    margin: 0;
    font-size: 9px;
    font-size: 0.692rem; }
  /* line 292, ../../sass/_forums.sass */
  .dis-post-left .dis-usr-post-count {
    margin-left: 0.35em; }

/* line 295, ../../sass/_forums.sass */
.dis-post-right {
  float: right;
  width: 86%;
  padding: 0 2% 2% 0;
  font-size: 12px;
  font-size: 0.923rem; }
  /* line 300, ../../sass/_forums.sass */
  .dis-post-right .title {
    font-size: 10px;
    font-size: 0.769rem;
    line-height: 1;
    color: #797979;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em 0;
    position: relative;
    border-bottom: dotted 1px #dadada; }
    /* line 308, ../../sass/_forums.sass */
    .dis-post-right .title strong {
      background-color: white;
      font-size: 12px;
      font-size: 0.923rem;
      margin-right: 0.25em; }
    /* line 312, ../../sass/_forums.sass */
    .dis-post-right .title .dis-actions {
      top: 0 !important;
      right: 0 !important; }
  /* line 315, ../../sass/_forums.sass */
  .dis-post-right blockquote {
    background-color: #fcfcfc;
    border: none;
    border: 1px dotted #eaeaea;
    border-left: 3px solid #939393;
    padding: 6px 14px;
    padding:  0.462rem 1.077rem;
    margin: 1rem 0;
    font-size: 0.9em;
    color: black; }
  /* line 325, ../../sass/_forums.sass */
  .dis-post-right cite {
    padding-left: 15px;
    padding-left: 1.154rem;
    margin-top: 1em;
    display: block;
    font-style: italics; }
  /* line 330, ../../sass/_forums.sass */
  .dis-post-right cite + blockquote {
    margin-top: 0.6em; }

/* line 333, ../../sass/_forums.sass */
.dis-signature {
  width: 86%;
  padding: 2% 2% 0 0 !important;
  float: right;
  border-top: 1px dotted #e0e0e0 !important;
  font-size: 9px;
  font-size: 0.692rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
  /* line 340, ../../sass/_forums.sass */
  .dis-signature a {
    color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    text-decoration: underline; }
    /* line 344, ../../sass/_forums.sass */
    .dis-signature a:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 346, ../../sass/_forums.sass */
  .dis-signature:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

/* line 351, ../../sass/_forums.sass */
.group-fix {
  zoom: 1; }
  /* line 352, ../../sass/_forums.sass */
  .group-fix:before, .group-fix:after {
    content: "";
    display: table; }
  /* line 356, ../../sass/_forums.sass */
  .group-fix:after {
    clear: both; }

/* line 361, ../../sass/_forums.sass */
.paginate {
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c3b39), color-stop(100%, #17312f));
  background-image: -webkit-linear-gradient(#1c3b39, #17312f);
  background-image: -moz-linear-gradient(#1c3b39, #17312f);
  background-image: -o-linear-gradient(#1c3b39, #17312f);
  background-image: -ms-linear-gradient(#1c3b39, #17312f);
  background-image: linear-gradient(#1c3b39, #17312f);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: #2f6561 0 1px 0, black 0 -1px 0;
  -moz-box-shadow: #2f6561 0 1px 0, black 0 -1px 0;
  box-shadow: #2f6561 0 1px 0, black 0 -1px 0;
  padding: 4px;
  padding: 0.308rem;
  font-size: 10px;
  font-size: 0.769rem;
  line-height: 1; }
  /* line 370, ../../sass/_forums.sass */
  .paginate li {
    margin: 0;
    padding: 0; }
  /* line 373, ../../sass/_forums.sass */
  .paginate a {
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #224946), color-stop(100%, #1f4240));
    background-image: -webkit-linear-gradient(#224946, #1f4240);
    background-image: -moz-linear-gradient(#224946, #1f4240);
    background-image: -o-linear-gradient(#224946, #1f4240);
    background-image: -ms-linear-gradient(#224946, #1f4240);
    background-image: linear-gradient(#224946, #1f4240);
    -webkit-box-shadow: #070e0e 0 0 3px, black 0 1px 0, #2b5b57 0 1px 0 inset;
    -moz-box-shadow: #070e0e 0 0 3px, black 0 1px 0, #2b5b57 0 1px 0 inset;
    box-shadow: #070e0e 0 0 3px, black 0 1px 0, #2b5b57 0 1px 0 inset;
    color: #ebf5f5;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 4px 5px;
    padding:  0.308rem 0.385rem;
    margin: 0 1px 0 0;
    text-decoration: none; }
    /* line 384, ../../sass/_forums.sass */
    .paginate a:hover, .paginate a.active {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b7d78), color-stop(100%, #2e625e));
      background-image: -webkit-linear-gradient(#3b7d78, #2e625e);
      background-image: -moz-linear-gradient(#3b7d78, #2e625e);
      background-image: -o-linear-gradient(#3b7d78, #2e625e);
      background-image: -ms-linear-gradient(#3b7d78, #2e625e);
      background-image: linear-gradient(#3b7d78, #2e625e);
      -webkit-box-shadow: black 0 0 3px, black 0 1px 0, #4ba09a 0 1px 0 inset;
      -moz-box-shadow: black 0 0 3px, black 0 1px 0, #4ba09a 0 1px 0 inset;
      box-shadow: black 0 0 3px, black 0 1px 0, #4ba09a 0 1px 0 inset; }
  /* line 388, ../../sass/_forums.sass */
  .paginate.stand-alone {
    text-align: right;
    float: none;
    position: relative;
    z-index: 20;
    -webkit-box-shadow: white 0 1px 0, black 0 -1px 0;
    -moz-box-shadow: white 0 1px 0, black 0 -1px 0;
    box-shadow: white 0 1px 0, black 0 -1px 0; }
    /* line 394, ../../sass/_forums.sass */
    .paginate.stand-alone.top {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      margin: 1.4em 0 -1.4em 0; }
    /* line 397, ../../sass/_forums.sass */
    .paginate.stand-alone.bottom {
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -ms-border-radius: 0 0 5px 5px;
      -o-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px; }

/* line 401, ../../sass/_forums.sass */
.horiz-list li {
  display: inline-block; }
/* line 403, ../../sass/_forums.sass */
.horiz-list a {
  display: block; }

/* line 407, ../../sass/_forums.sass */
.sidebar {
  margin-top: 1.1em; }
  /* line 411, ../../sass/_forums.sass */
  .sidebar .box.first p {
    margin: 0 0 1em 0;
    color: #797979; }
  /* line 416, ../../sass/_forums.sass */
  .sidebar .panel-box {
    font-size: 11px;
    font-size: 0.846rem;
    line-height: 1.3;
    padding: 10px 15px;
    padding:  0.769rem 1.154rem;
    background-color: #fcfcfc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #e0e0e0 0 2px 3px;
    -moz-box-shadow: #e0e0e0 0 2px 3px;
    box-shadow: #e0e0e0 0 2px 3px;
    border: 1px solid #e5e5e5; }
    /* line 424, ../../sass/_forums.sass */
    .sidebar .panel-box h4 {
      font-size: 13px;
      font-size: 1rem;
      margin: 0 -15px 5px -15px;
      margin:  0 -1.154rem 0.385rem -1.154rem;
      padding: 0 15px 5px 15px;
      padding:  0 1.154rem 0.385rem 1.154rem;
      background: none;
      font-weight: bold;
      font-size: 1rem;
      border-bottom: 1px solid #ececec; }
    /* line 432, ../../sass/_forums.sass */
    .sidebar .panel-box p {
      padding: 0;
      color: #666666; }
    /* line 435, ../../sass/_forums.sass */
    .sidebar .panel-box h4 + p {
      border-top: solid 1px white;
      padding: 10px 15px 10px 15px;
      padding:  0.769rem 1.154rem 0.769rem 1.154rem;
      margin: -5px -15px 10px -15px;
      margin:  -0.385rem -1.154rem 0.769rem -1.154rem; }
  /* line 441, ../../sass/_forums.sass */
  .sidebar .primary-cta {
    color: white;
    font-size: 15px;
    font-size: 1.154rem;
    margin-bottom: 5px;
    margin-bottom: 0.385rem; }
    /* line 445, ../../sass/_forums.sass */
    .sidebar .primary-cta.login {
      display: block;
      margin-left: 0;
      text-align: center;
      padding: 0.5em; }

/* line 450, ../../sass/_forums.sass */
.footer-stats {
  font-size: 14px;
  padding-top: 1.2em;
  padding-bottom: 2em;
  margin: 0 0 2em 0;
  border-top: 2px solid #333333;
  border-bottom: 1px solid #333333 !important; }
  /* line 457, ../../sass/_forums.sass */
  .footer-stats strong {
    font-weight: 700; }
