/* line 17, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
/* line 17, ../../sass/lib/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, ../../sass/lib/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../../sass/lib/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../../sass/lib/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../../sass/lib/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, ../../sass/lib/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
/* line 52, ../../sass/lib/_reset.scss */
ins {
  text-decoration: none; }

/* line 55, ../../sass/lib/_reset.scss */
del {
  text-decoration: line-through; }

/* line 59, ../../sass/lib/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 6, ../../sass/_grid.scss */
.group {
  overflow: hidden;
  *zoom: 1; }

/* line 7, ../../sass/_grid.scss */
.cell {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  vertical-align: top;
  display: inline-block;
  white-space: normal; }

/* line 8, ../../sass/_grid.scss */
.cell {
  *display: inline; }

/* line 4, ../../sass/_typography.sass */
html {
  font-size: 62.5%; }

/* line 7, ../../sass/_typography.sass */
body {
  font-family: "proxima-nova", sans-serif;
  background-color: #f9f9f9;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.4; }

/* line 22, ../../sass/_brand-colors.sass */
.dark-gradient {
  background-color: #a3c94f;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #17312f), color-stop(100%, #275450));
  background-image: -webkit-linear-gradient(left top, #17312f, #275450);
  background-image: -moz-linear-gradient(left top, #17312f, #275450);
  background-image: -o-linear-gradient(left top, #17312f, #275450);
  background-image: linear-gradient(left top, #17312f, #275450);
  color: white; }

/* line 27, ../../sass/_brand-colors.sass */
.color {
  color: #efefef; }

/* line 1, ../../sass/lib/_shared.sass */
body {
  background-color: #f9f9f9; }

/* line 5, ../../sass/lib/_shared.sass */
a {
  color: #215a55;
  text-decoration: none; }
  /* line 8, ../../sass/lib/_shared.sass */
  a:hover {
    color: black;
    text-decoration: underline; }

/* line 11, ../../sass/lib/_shared.sass */
.l-right {
  float: right; }

/* line 13, ../../sass/lib/_shared.sass */
.l-left {
  float: left; }

/* line 17, ../../sass/lib/_shared.sass */
.l-horiz_list li {
  display: inline-block; }

/* line 20, ../../sass/lib/_shared.sass */
.m-login_block input[type="text"], .m-login_block input[type="password"] {
  display: block;
  width: 100%;
  padding: 5px 3px;
  padding:  0.5rem 0.3rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none; }
/* line 26, ../../sass/lib/_shared.sass */
.m-login_block input {
  vertical-align: top;
  display: inline-block;
  margin-top: 0; }

/* line 33, ../../sass/lib/_shared.sass */
.m-breadcrumbs li {
  display: inline-block;
  line-height: 1;
  vertical-align: bottom;
  padding: 3px 0; }
  /* line 38, ../../sass/lib/_shared.sass */
  .m-breadcrumbs li:after {
    content: "\2192 ";
    padding-left: 3px;
    padding-right: 3px;
    color: #cccccc; }
  /* line 43, ../../sass/lib/_shared.sass */
  .m-breadcrumbs li:last-child:after {
    content: ""; }
/* line 45, ../../sass/lib/_shared.sass */
.m-breadcrumbs a {
  color: #939393;
  text-decoration: none; }
  /* line 48, ../../sass/lib/_shared.sass */
  .m-breadcrumbs a:hover {
    color: #131313; }

/* line 53, ../../sass/lib/_shared.sass */
.m-sm_nav_pod a {
  padding: 7px 9px 7px 7px;
  padding:  0.7rem 0.9rem 0.7rem 0.7rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  line-height: 1; }
/* line 57, ../../sass/lib/_shared.sass */
.m-sm_nav_pod a:after {
  content: "|";
  padding: 0 0 0 10px;
  padding:  0 0 0 1rem;
  position: absolute; }
/* line 61, ../../sass/lib/_shared.sass */
.m-sm_nav_pod li:last-child a:after {
  content: "";
  padding: 0; }

/* line 66, ../../sass/lib/_shared.sass */
footer {
  background: url(../../images/bg/section-border-medy-repeat.png) repeat-x left top;
  padding: 1.5em 0;
  margin: 5em 0 0 0; }
  /* line 70, ../../sass/lib/_shared.sass */
  footer a {
    white-space: nowrap; }
  /* line 72, ../../sass/lib/_shared.sass */
  footer .copy-info {
    display: inline-block;
    font-size: 13px;
    font-size: 1.3rem;
    padding: 0.5em 0 0 1.3em; }
    /* line 76, ../../sass/lib/_shared.sass */
    footer .copy-info p, footer .copy-info ul {
      margin: 0 0 0.25em 0; }
    /* line 78, ../../sass/lib/_shared.sass */
    footer .copy-info p, footer .copy-info a {
      opacity: 0.6; }
    /* line 80, ../../sass/lib/_shared.sass */
    footer .copy-info p {
      padding-top: 0.7em; }
    /* line 82, ../../sass/lib/_shared.sass */
    footer .copy-info a:hover {
      opacity: 0.8; }
    /* line 84, ../../sass/lib/_shared.sass */
    footer .copy-info li:first-child {
      padding-left: 0; }
  /* line 86, ../../sass/lib/_shared.sass */
  footer .horiz-list li a {
    padding: 0.25em 0.75em;
    text-decoration: none;
    color: black; }
  /* line 91, ../../sass/lib/_shared.sass */
  footer nav ul.horiz-list {
    margin: 0; }
    /* line 95, ../../sass/lib/_shared.sass */
    footer nav ul.horiz-list li a:after {
      content: "|";
      padding: 0 0.75em;
      margin-right: -1.25em; }
    /* line 99, ../../sass/lib/_shared.sass */
    footer nav ul.horiz-list li:last-child a:after {
      content: ""; }
    /* line 101, ../../sass/lib/_shared.sass */
    footer nav ul.horiz-list a, footer nav ul.horiz-list h3 {
      font-size: 13px;
      font-weight: bold; }
  /* line 104, ../../sass/lib/_shared.sass */
  footer .row .stay-connected {
    padding-left: 1.75em;
    border-left: 1px dotted silver;
    margin-left: 0; }

/* line 109, ../../sass/lib/_shared.sass */
.social-icons.horiz-list {
  margin: 1em 0 0 0; }
  /* line 111, ../../sass/lib/_shared.sass */
  .social-icons.horiz-list li a {
    display: block;
    height: 38px;
    width: 32px;
    padding: 0;
    background: url(../../images/redo/icons/i-social-media.png) no-repeat -41px -36px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5px 0 0;
    opacity: 0.8; }
    /* line 122, ../../sass/lib/_shared.sass */
    .social-icons.horiz-list li a:hover {
      opacity: 1;
      background-position-y: -40px; }
    /* line 125, ../../sass/lib/_shared.sass */
    .social-icons.horiz-list li a.twitter {
      background-position-x: -257px; }
    /* line 127, ../../sass/lib/_shared.sass */
    .social-icons.horiz-list li a.facebook {
      background-position-x: -185px; }

/* line 131, ../../sass/lib/_shared.sass */
.m-user_box {
  padding: 1em; }
  /* line 133, ../../sass/lib/_shared.sass */
  .m-user_box h3 {
    font-size: 17px;
    font-size: 1.7rem;
    margin: 0 0 5px 0;
    margin:  0 0 0.5rem 0; }
  /* line 136, ../../sass/lib/_shared.sass */
  .m-user_box p {
    color: #69918e;
    line-height: 1.3; }
  /* line 139, ../../sass/lib/_shared.sass */
  .m-user_box a {
    color: white;
    text-decoration: underline; }
  /* line 142, ../../sass/lib/_shared.sass */
  .m-user_box .l-left {
    width: 12%; }
    /* line 144, ../../sass/lib/_shared.sass */
    .m-user_box .l-left img {
      width: 100%;
      border: 2px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
      max-width: 100px; }
  /* line 149, ../../sass/lib/_shared.sass */
  .m-user_box .l-right {
    width: 84%; }

/* line 152, ../../sass/lib/_shared.sass */
.m-user_tools {
  margin: 1em 0 0 0; }
  /* line 154, ../../sass/lib/_shared.sass */
  .m-user_tools ul, .m-user_tools a {
    display: inline-block; }
  /* line 156, ../../sass/lib/_shared.sass */
  .m-user_tools a {
    padding: 6px 10px; }

/* line 158, ../../sass/lib/_shared.sass */
.m-user_tools_reg_links {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  /* line 160, ../../sass/lib/_shared.sass */
  .m-user_tools_reg_links li {
    margin-left: -4px; }
    /* line 162, ../../sass/lib/_shared.sass */
    .m-user_tools_reg_links li:first-child a {
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      -ms-border-radius: 3px 0 0 3px;
      -o-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px; }
    /* line 164, ../../sass/lib/_shared.sass */
    .m-user_tools_reg_links li:last-child a {
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -ms-border-radius: 0 3px 3px 0;
      -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0; }
    /* line 166, ../../sass/lib/_shared.sass */
    .m-user_tools_reg_links li a {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b5b57), color-stop(100%, #244d4a));
      background-image: -webkit-linear-gradient(#2b5b57, #244d4a);
      background-image: -moz-linear-gradient(#2b5b57, #244d4a);
      background-image: -o-linear-gradient(#2b5b57, #244d4a);
      background-image: linear-gradient(#2b5b57, #244d4a);
      text-decoration: none; }
      /* line 169, ../../sass/lib/_shared.sass */
      .m-user_tools_reg_links li a:hover {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #316964), color-stop(100%, #295754));
        background-image: -webkit-linear-gradient(#316964, #295754);
        background-image: -moz-linear-gradient(#316964, #295754);
        background-image: -o-linear-gradient(#316964, #295754);
        background-image: linear-gradient(#316964, #295754); }

/* line 3, ../../sass/lib/_layout.sass */
.m-sm_nav_pod li {
  display: inline-block; }
/* line 5, ../../sass/lib/_layout.sass */
.m-sm_nav_pod a {
  display: block;
  text-decoration: none; }

/* line 10, ../../sass/lib/_layout.sass */
.m-breadcrumbs {
  margin: 0 0 12px 0;
  margin:  0 0 1.2rem 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: white;
  border-bottom: 1px solid #cccccc; }
  /* line 16, ../../sass/lib/_layout.sass */
  .m-breadcrumbs ul {
    margin-top: 7px; }

/* line 2, ../../sass/lib/_masthead.sass */
.masthead {
  background: url(../../images/redo/bg/masthead-highlight.png) no-repeat center, url(../../images/redo/bg/masthead-flourish.jpg) no-repeat center top;
  background-color: #17312f;
  color: white; }
  /* line 6, ../../sass/lib/_masthead.sass */
  .masthead a {
    color: white; }
  /* line 8, ../../sass/lib/_masthead.sass */
  .masthead > div {
    padding-bottom: 10px;
    padding: 0 0 20px 0;
    padding:  0 0 2rem 0; }
  /* line 11, ../../sass/lib/_masthead.sass */
  .masthead a.h-ir {
    background: url(../../images/redo/elements/forums-logo.png) no-repeat left top;
    height: 42px;
    text-indent: 105%; }
  /* line 15, ../../sass/lib/_masthead.sass */
  .masthead .m-sm_nav_pod {
    background: url(../../images/redo/bg/masthead-nav-highlight.png) no-repeat left bottom;
    padding: 6px 0;
    padding:  0.6rem 0;
    margin: 0 0 18px 0;
    margin:  0 0 1.8rem 0; }
    /* line 19, ../../sass/lib/_masthead.sass */
    .masthead .m-sm_nav_pod a {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      color: #6fa5a1; }
      /* line 22, ../../sass/lib/_masthead.sass */
      .masthead .m-sm_nav_pod a:hover {
        color: white;
        text-decoration: underline; }
      /* line 25, ../../sass/lib/_masthead.sass */
      .masthead .m-sm_nav_pod a:after {
        color: #6fa5a1; }
      /* line 27, ../../sass/lib/_masthead.sass */
      .masthead .m-sm_nav_pod a:hover:after {
        text-decoration: none; }
  /* line 30, ../../sass/lib/_masthead.sass */
  .masthead .m-login_box {
    padding: 17px 0 8px 17px;
    padding:  1.7rem 0 0.8rem 1.7rem; }
    /* line 32, ../../sass/lib/_masthead.sass */
    .masthead .m-login_box .masthead-title {
      margin-bottom: 10px;
      margin-bottom: 1rem;
      color: #6fa5a1; }
      /* line 35, ../../sass/lib/_masthead.sass */
      .masthead .m-login_box .masthead-title strong {
        color: white;
        font-weight: 500;
        font-size: 1.2em;
        margin: 0 0.2em 0 0; }
  /* line 40, ../../sass/lib/_masthead.sass */
  .masthead label {
    font-family: georgia, times, serif;
    font-style: italic;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
  /* line 44, ../../sass/lib/_masthead.sass */
  .masthead input {
    color: white;
    margin: 5px 5px 5px 0;
    margin:  0.5rem 0.5rem 0.5rem 0;
    outline: none; }
  /* line 48, ../../sass/lib/_masthead.sass */
  .masthead input[type="submit"] {
    color: white !important;
    font-weight: 500;
    background-color: #89c8da;
    border-color: #3693ad;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7dc3d6), color-stop(100%, #4fadc8));
    background-image: -webkit-linear-gradient(#7dc3d6, #4fadc8);
    background-image: -moz-linear-gradient(#7dc3d6, #4fadc8);
    background-image: -o-linear-gradient(#7dc3d6, #4fadc8);
    background-image: linear-gradient(#7dc3d6, #4fadc8);
    text-shadow: #18414c 0 1px 0; }
    /* line 55, ../../sass/lib/_masthead.sass */
    .masthead input[type="submit"]:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #95cdde), color-stop(100%, #89c8da)) !important;
      background-image: -webkit-linear-gradient(#95cdde, #89c8da) !important;
      background-image: -moz-linear-gradient(#95cdde, #89c8da) !important;
      background-image: -o-linear-gradient(#95cdde, #89c8da) !important;
      background-image: linear-gradient(#95cdde, #89c8da) !important; }
  /* line 57, ../../sass/lib/_masthead.sass */
  .masthead input[type="text"], .masthead input[type="password"] {
    background-color: #0f201e;
    border: solid 1px black;
    -webkit-box-shadow: #214643 0 1px 0, black 0 -1px 0;
    -moz-box-shadow: #214643 0 1px 0, black 0 -1px 0;
    box-shadow: #214643 0 1px 0, black 0 -1px 0; }
    /* line 61, ../../sass/lib/_masthead.sass */
    .masthead input[type="text"]:focus, .masthead input[type="password"]:focus {
      color: black;
      background-color: white;
      border: solid 1px #3e847f;
      -webkit-box-shadow: #5cb3ac 0 0 7px;
      -moz-box-shadow: #5cb3ac 0 0 7px;
      box-shadow: #5cb3ac 0 0 7px; }

/* line 1, ../../sass/lib/_helpers.sass */
.h-ir {
  display: block;
  text-align: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* line 7, ../../sass/lib/_helpers.sass */
.h-group {
  zoom: 1; }
  /* line 9, ../../sass/lib/_helpers.sass */
  .h-group:before, .h-group:after {
    content: "";
    display: table; }
  /* line 12, ../../sass/lib/_helpers.sass */
  .h-group:after {
    clear: both; }

/* line 3, ../../sass/lib/_buttons.sass */
.primary-cta,
.dis-cat-header .action-buttons,
.secondary-cta {
  color: white;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  /* line 10, ../../sass/lib/_buttons.sass */
  .primary-cta:hover,
  .dis-cat-header .action-buttons:hover,
  .secondary-cta:hover {
    text-decoration: none; }

/* line 15, ../../sass/lib/_buttons.sass */
.primary-cta,
.dis-cat-header .action-buttons {
  color: white;
  margin: 0 0 0 1em;
  border: none;
  padding: 5px;
  padding: 0.5rem;
  text-shadow: #4c611e 0 1px 0;
  line-height: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5ca53), color-stop(100%, #7a9c30));
  background-image: -webkit-linear-gradient(#a5ca53, #7a9c30);
  background-image: -moz-linear-gradient(#a5ca53, #7a9c30);
  background-image: -o-linear-gradient(#a5ca53, #7a9c30);
  background-image: linear-gradient(#a5ca53, #7a9c30);
  -webkit-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
  -moz-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
  box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0; }
  /* line 26, ../../sass/lib/_buttons.sass */
  .primary-cta:hover,
  .dis-cat-header .action-buttons:hover {
    padding: 5px;
    padding: 0.5rem;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9cd5b), color-stop(100%, #8cb337));
    background-image: -webkit-linear-gradient(#a9cd5b, #8cb337);
    background-image: -moz-linear-gradient(#a9cd5b, #8cb337);
    background-image: -o-linear-gradient(#a9cd5b, #8cb337);
    background-image: linear-gradient(#a9cd5b, #8cb337);
    -webkit-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
    -moz-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
    box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0; }

/* line 31, ../../sass/lib/_buttons.sass */
.secondary-cta {
  color: #606060;
  padding: 3px 7px;
  margin: 3px 2px;
  background-color: lightgrey;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececec), color-stop(100%, #cecece));
  background-image: -webkit-linear-gradient(#ececec, #cecece);
  background-image: -moz-linear-gradient(#ececec, #cecece);
  background-image: -o-linear-gradient(#ececec, #cecece);
  background-image: linear-gradient(#ececec, #cecece);
  -webkit-box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  -moz-box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  box-shadow: #f9f9f9 0 1px 2px, ligten(#f9f9f9, 10%) 0 0 3px inset;
  border: 1px solid #acacac;
  text-shadow: white 0 1px 0; }
  /* line 40, ../../sass/lib/_buttons.sass */
  .secondary-cta:hover {
    color: #131313;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #e2e2e2));
    background-image: -webkit-linear-gradient(#f1f1f1, #e2e2e2);
    background-image: -moz-linear-gradient(#f1f1f1, #e2e2e2);
    background-image: -o-linear-gradient(#f1f1f1, #e2e2e2);
    background-image: linear-gradient(#f1f1f1, #e2e2e2); }
  /* line 43, ../../sass/lib/_buttons.sass */
  .secondary-cta:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(100%, #dddddd));
    background-image: -webkit-linear-gradient(#cecece, #dddddd);
    background-image: -moz-linear-gradient(#cecece, #dddddd);
    background-image: -o-linear-gradient(#cecece, #dddddd);
    background-image: linear-gradient(#cecece, #dddddd);
    -webkit-box-shadow: #464646 0 1px 3px inset;
    -moz-box-shadow: #464646 0 1px 3px inset;
    box-shadow: #464646 0 1px 3px inset;
    border: 1px solid #797979; }
  /* line 47, ../../sass/lib/_buttons.sass */
  .secondary-cta:visited {
    color: #797979; }

/* line 49, ../../sass/lib/_buttons.sass */
.a-secondary-cta {
  line-height: 1;
  color: white;
  padding: 10px 10px;
  margin: 3px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: lightgrey;
  display: block;
  font-size: 13px;
  font-size: 1.3rem;
  text-align: center;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #656565;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #656565), color-stop(100%, #868686));
  background-image: -webkit-linear-gradient(bottom, #656565 0%, #868686 100%);
  background-image: -moz-linear-gradient(bottom, #656565 0%, #868686 100%);
  background-image: -o-linear-gradient(bottom, #656565 0%, #868686 100%);
  background-image: linear-gradient(bottom, #656565 0%, #868686 100%); }
  /* line 64, ../../sass/lib/_buttons.sass */
  .a-secondary-cta span {
    font-size: 70%;
    white-space: nowrap; }
  /* line 67, ../../sass/lib/_buttons.sass */
  .a-secondary-cta:hover {
    color: white;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #818181), color-stop(100%, #9b9b9b));
    background-image: -webkit-linear-gradient(bottom, #818181 0%, #9b9b9b 100%);
    background-image: -moz-linear-gradient(bottom, #818181 0%, #9b9b9b 100%);
    background-image: -o-linear-gradient(bottom, #818181 0%, #9b9b9b 100%);
    background-image: linear-gradient(bottom, #818181 0%, #9b9b9b 100%); }

/* line 73, ../../sass/lib/_buttons.sass */
.a-faux-btn-grp .a-secondary-cta {
  margin: 0;
  padding: 3%; }

/* line 78, ../../sass/lib/_buttons.sass */
.a-faux-btn.a-secondary-cta {
  padding: 0; }
  /* line 80, ../../sass/lib/_buttons.sass */
  .a-faux-btn.a-secondary-cta a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececec), color-stop(100%, #cecece));
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -webkit-linear-gradient(#ececec, #cecece);
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -moz-linear-gradient(#ececec, #cecece);
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -o-linear-gradient(#ececec, #cecece);
    background-image: url(../../images/redo/bg/btn-divide.png) no-repeat right center, linear-gradient(#ececec, #cecece); }
    /* line 85, ../../sass/lib/_buttons.sass */
    .a-faux-btn.a-secondary-cta a:hover {
      color: white;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dadada), color-stop(100%, #acacac));
      background-image: -webkit-linear-gradient(#dadada, #acacac);
      background-image: -moz-linear-gradient(#dadada, #acacac);
      background-image: -o-linear-gradient(#dadada, #acacac);
      background-image: linear-gradient(#dadada, #acacac); }
  /* line 88, ../../sass/lib/_buttons.sass */
  .a-faux-btn.a-secondary-cta:hover {
    color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cbcbcb), color-stop(100%, #9b9b9b));
    background-image: -webkit-linear-gradient(#cbcbcb, #9b9b9b);
    background-image: -moz-linear-gradient(#cbcbcb, #9b9b9b);
    background-image: -o-linear-gradient(#cbcbcb, #9b9b9b);
    background-image: linear-gradient(#cbcbcb, #9b9b9b); }

/* line 91, ../../sass/lib/_buttons.sass */
.alt-1-cta {
  color: white;
  background-color: #89c8da !important; }

/* line 94, ../../sass/lib/_buttons.sass */
.l-inline-btn {
  display: inline-block; }

/* line 5, ../../sass/_forums.sass */
body {
  color: #444444; }

/* line 7, ../../sass/_forums.sass */
h3.forum {
  color: #199fc9;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 0 0 0.8em; }

/* line 14, ../../sass/_forums.sass */
.dis-cat-header {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 10px;
  line-height: 1;
  background-color: #194b47;
  -webkit-box-shadow: black 0 1px 3px inset !important;
  -moz-box-shadow: black 0 1px 3px inset !important;
  box-shadow: black 0 1px 3px inset !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #26504d), color-stop(100%, #193432)) !important;
  background-image: -webkit-linear-gradient(#26504d, #193432) !important;
  background-image: -moz-linear-gradient(#26504d, #193432) !important;
  background-image: -o-linear-gradient(#26504d, #193432) !important;
  background-image: linear-gradient(#26504d, #193432) !important;
  -webkit-border-radius: 3px 3px 0 0 !important;
  -moz-border-radius: 3px 3px 0 0 !important;
  -ms-border-radius: 3px 3px 0 0 !important;
  -o-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
  border-bottom: solid 1px #17312f;
  color: white;
  line-height: 1; }
  /* line 27, ../../sass/_forums.sass */
  .dis-cat-header h1 {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1;
    color: white;
    font-weight: 500;
    border: 0;
    float: left;
    padding: 6px 0 0 5px;
    margin: 0;
    display: inline-block; }
  /* line 39, ../../sass/_forums.sass */
  .dis-cat-header .action-buttons {
    font-size: 13px;
    font-size: 1.3rem;
    display: inline-block;
    margin-top: 0.2em; }
  /* line 43, ../../sass/_forums.sass */
  .dis-cat-header .action-buttons + .action-buttons {
    margin-left: 0.25em; }
  /* line 45, ../../sass/_forums.sass */
  .dis-cat-header .post-box a.Button {
    color: white;
    margin: 0 0 0 1em;
    border: none;
    padding: 6px;
    padding: 0.6rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5ca53), color-stop(100%, #7a9c30));
    background-image: -webkit-linear-gradient(#a5ca53, #7a9c30);
    background-image: -moz-linear-gradient(#a5ca53, #7a9c30);
    background-image: -o-linear-gradient(#a5ca53, #7a9c30);
    background-image: linear-gradient(#a5ca53, #7a9c30);
    -webkit-box-shadow: #a9cd5b 0 1px 0 inset, black 0 1px 0;
    -moz-box-shadow: #a9cd5b 0 1px 0 inset, black 0 1px 0;
    box-shadow: #a9cd5b 0 1px 0 inset, black 0 1px 0; }
    /* line 53, ../../sass/_forums.sass */
    .dis-cat-header .post-box a.Button:hover {
      padding: 5px;
      padding: 0.5rem;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9cd5b), color-stop(100%, #7a9c30));
      background-image: -webkit-linear-gradient(#a9cd5b, #7a9c30);
      background-image: -moz-linear-gradient(#a9cd5b, #7a9c30);
      background-image: -o-linear-gradient(#a9cd5b, #7a9c30);
      background-image: linear-gradient(#a9cd5b, #7a9c30);
      -webkit-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
      -moz-box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0;
      box-shadow: #c6dd91 0 1px 0 inset, black 0 1px 0; }

/* line 58, ../../sass/_forums.sass */
.row + .dis-cat-header {
  margin-top: 1em; }

/* line 62, ../../sass/_forums.sass */
.m-section_title {
  background-color: #ececec;
  border-radius: 5px; }
  /* line 68, ../../sass/_forums.sass */
  .m-section_title .row {
    color: black;
    font-weight: 700;
    border-bottom: px solid white;
    border-radius: 0 0 3px 3px;
    line-height: 1;
    padding: 7px 6px 7px 8px;
    margin-bottom: 0.35em; }
  /* line 76, ../../sass/_forums.sass */
  .m-section_title .dis-cat-header {
    margin-top: 2em; }

/* line 82, ../../sass/_forums.sass */
.forum-grid .dis-board-subs {
  color: white;
  padding: 5px 5px 5px 57px;
  background: url(../../images/redo/icons/arrow.png) no-repeat 39px 11px; }
  /* line 86, ../../sass/_forums.sass */
  .forum-grid .dis-board-subs strong, .forum-grid .dis-board-subs a {
    font-size: 12px;
    font-size: 1.2rem; }
  /* line 88, ../../sass/_forums.sass */
  .forum-grid .dis-board-subs strong {
    color: black; }
  /* line 90, ../../sass/_forums.sass */
  .forum-grid .dis-board-subs a {
    color: #464646;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(100%, #e0e0e0));
    background-image: -webkit-linear-gradient(#e7e7e7, #e0e0e0);
    background-image: -moz-linear-gradient(#e7e7e7, #e0e0e0);
    background-image: -o-linear-gradient(#e7e7e7, #e0e0e0);
    background-image: linear-gradient(#e7e7e7, #e0e0e0);
    border: solid 1px #e0e0e0;
    display: inline-block;
    padding: 3px 6px;
    margin-top: 2px;
    line-height: 1;
    border-radius: 3px; }
    /* line 100, ../../sass/_forums.sass */
    .forum-grid .dis-board-subs a:hover {
      color: #131313;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #e7e7e7));
      background-image: -webkit-linear-gradient(#f1f1f1, #e7e7e7);
      background-image: -moz-linear-gradient(#f1f1f1, #e7e7e7);
      background-image: -o-linear-gradient(#f1f1f1, #e7e7e7);
      background-image: linear-gradient(#f1f1f1, #e7e7e7);
      border: solid 1px #e7e7e7;
      text-decoration: none; }
    /* line 105, ../../sass/_forums.sass */
    .forum-grid .dis-board-subs a:active {
      -webkit-box-shadow: #b4b4b4 0 0 1px inset;
      -moz-box-shadow: #b4b4b4 0 0 1px inset;
      box-shadow: #b4b4b4 0 0 1px inset; }

/* line 110, ../../sass/_forums.sass */
.panel-stack {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

/* line 115, ../../sass/_forums.sass */
.forum-grid {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.1;
  color: #777777;
  margin-top: 25px;
  margin-top: 2.5rem; }
  /* line 120, ../../sass/_forums.sass */
  .forum-grid p {
    color: black;
    line-height: 1.1;
    margin: 0 0 0.25em 0; }
  /* line 124, ../../sass/_forums.sass */
  .forum-grid a {
    text-decoration: none;
    color: #111111; }
  /* line 127, ../../sass/_forums.sass */
  .forum-grid a.h-group {
    display: block;
    cursor: pointer; }
  /* line 130, ../../sass/_forums.sass */
  .forum-grid .dis-board-description {
    margin: 0.25em 0;
    color: #777777; }
  /* line 135, ../../sass/_forums.sass */
  .forum-grid .row {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid white; }
    /* line 139, ../../sass/_forums.sass */
    .forum-grid .row:hover {
      border-bottom-color: #d8d8d8;
      border-top-color: white; }
    /* line 142, ../../sass/_forums.sass */
    .forum-grid .row.header-row {
      font-weight: bold;
      color: black;
      border-bottom: 2px solid lightgrey; }
    /* line 146, ../../sass/_forums.sass */
    .forum-grid .row > a {
      padding: 0.5em; }
      /* line 148, ../../sass/_forums.sass */
      .forum-grid .row > a:hover {
        background-color: white;
        text-decoration: underline; }
  /* line 152, ../../sass/_forums.sass */
  .forum-grid .heading {
    color: #535353;
    background-color: #a0a0a0;
    margin: 0 0 0.4em 0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(100%, #d8d8d8));
    background: -webkit-linear-gradient(#e7e7e7, #d8d8d8);
    background: -moz-linear-gradient(#e7e7e7, #d8d8d8);
    background: -o-linear-gradient(#e7e7e7, #d8d8d8);
    background: linear-gradient(#e7e7e7, #d8d8d8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    /* line 158, ../../sass/_forums.sass */
    .forum-grid .heading .cell {
      padding-top: 0.2em;
      padding-bottom: 0.2em; }
  /* line 161, ../../sass/_forums.sass */
  .forum-grid strong {
    font-size: 16px;
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
    line-height: 1.1; }
  /* line 166, ../../sass/_forums.sass */
  .forum-grid .posted-date, .forum-grid .posted-by {
    color: #919191; }

/* line 171, ../../sass/_forums.sass */
.dis-category .wrap {
  background: url(../../images/redo/icons/i-category.png) no-repeat 4px 7px !important;
  padding-left: 31px !important; }

/* line 174, ../../sass/_forums.sass */
.dis-unread .wrap {
  background: url(../../images/redo/icons/i-unread.png) no-repeat 0 5px !important; }

/* line 176, ../../sass/_forums.sass */
.dis-category.dis-unread .wrap {
  background: url(../../images/redo/icons/i-category-unread.png) no-repeat 2px 2px !important; }

/* line 179, ../../sass/_forums.sass */
.boards + .forum-grid {
  margin-top: 0; }

/* line 181, ../../sass/_forums.sass */
.boards .row:last-child {
  border: none;
  padding-bottom: 0; }

/* line 186, ../../sass/_forums.sass */
.Category {
  padding: 5px 20px 0 0;
  padding:  0.5rem 2rem 0 0;
  margin-top: 5px;
  margin-top: 0.5rem; }
  /* line 189, ../../sass/_forums.sass */
  .Category a {
    color: #17312f;
    text-decoration: none;
    font-size: 32px;
    font-size: 3.2rem; }

/* line 194, ../../sass/_forums.sass */
.dis-list {
  margin: 1em 0 0 0;
  line-height: 1.4;
  -webkit-box-shadow: #f9f9f9 0 0 0;
  -moz-box-shadow: #f9f9f9 0 0 0;
  box-shadow: #f9f9f9 0 0 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #f9f9f9;
  background-color: #f9f9f9; }
  /* line 206, ../../sass/_forums.sass */
  .dis-list .dis-post {
    border-bottom: solid 1px #d8d8d8;
    border-top: solid 1px white;
    margin: 0;
    width: 96%;
    padding: 1.75% 2% 3% 2%;
    float: right; }
    /* line 213, ../../sass/_forums.sass */
    .dis-list .dis-post:first-child {
      border-top: none;
      padding-top: 3%; }
    /* line 216, ../../sass/_forums.sass */
    .dis-list .dis-post:last-child {
      padding-bottom: 5%; }
    /* line 218, ../../sass/_forums.sass */
    .dis-list .dis-post .dis-content {
      overflow: hidden; }
      /* line 220, ../../sass/_forums.sass */
      .dis-list .dis-post .dis-content strong {
        font-weight: 700; }
    /* line 222, ../../sass/_forums.sass */
    .dis-list .dis-post li {
      border: none; }
    /* line 224, ../../sass/_forums.sass */
    .dis-list .dis-post .dis-post-footer {
      width: 88%;
      float: right;
      font-size: 12px;
      font-size: 1.2rem; }
      /* line 228, ../../sass/_forums.sass */
      .dis-list .dis-post .dis-post-footer .dis-post-editedon {
        padding: 1em 0 0 0;
        font-style: italic;
        color: #797979; }

/* line 233, ../../sass/_forums.sass */
footer h3 {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 700;
  color: black; }
/* line 237, ../../sass/_forums.sass */
footer nav, footer h3 {
  margin: 0 0 10px 0;
  margin:  0 0 1rem 0; }
/* line 239, ../../sass/_forums.sass */
footer .m-modx_logo {
  margin: 3px 0 0 0;
  margin:  0.3rem 0 0 0; }

/* line 242, ../../sass/_forums.sass */
.dis-post .title a {
  color: black;
  text-decoration: none; }
  /* line 245, ../../sass/_forums.sass */
  .dis-post .title a:hover {
    text-decoration: underline; }
/* line 247, ../../sass/_forums.sass */
.dis-post .title strong {
  font-weight: 700;
  color: black; }

/* line 250, ../../sass/_forums.sass */
.dis-post-left {
  float: left;
  text-align: left;
  width: 9%; }
  /* line 255, ../../sass/_forums.sass */
  .dis-post-left img {
    width: 100%;
    max-width: 80px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  /* line 259, ../../sass/_forums.sass */
  .dis-post-left .auth-avatar {
    display: block;
    border: none; }
  /* line 262, ../../sass/_forums.sass */
  .dis-post-left .dis-usr-post-count, .dis-post-left .dis-usr-icon {
    margin: 0;
    font-size: 11px;
    font-size: 1.1rem; }
  /* line 265, ../../sass/_forums.sass */
  .dis-post-left .dis-usr-post-count {
    margin: 0.3em 0.2em 0 0.35em; }

/* line 268, ../../sass/_forums.sass */
.dis-post-right {
  float: left;
  width: 86%;
  padding: 0 2% 2% 0;
  font-size: 15px;
  font-size: 1.5rem; }
  /* line 273, ../../sass/_forums.sass */
  .dis-post-right .title {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1;
    color: #797979;
    margin: 0 0 1em 0;
    padding: 0 0 0.8em 0;
    position: relative;
    border-bottom: dotted 1px #dadada; }
    /* line 281, ../../sass/_forums.sass */
    .dis-post-right .title strong {
      font-size: 15px;
      font-size: 1.5rem;
      margin-right: 0.25em; }
    /* line 284, ../../sass/_forums.sass */
    .dis-post-right .title .dis-actions {
      top: 0 !important;
      right: 0 !important; }
  /* line 287, ../../sass/_forums.sass */
  .dis-post-right blockquote {
    background-color: #fcfcfc;
    border: none;
    border: 1px dotted #eaeaea;
    border-left: 3px solid #939393;
    padding: 6px 14px;
    padding:  0.6rem 1.4rem;
    margin: 1rem 0;
    font-size: 0.9em;
    color: black; }
  /* line 297, ../../sass/_forums.sass */
  .dis-post-right cite {
    padding-left: 15px;
    padding-left: 1.5rem;
    margin-top: 1em;
    display: block;
    font-style: italics; }
  /* line 302, ../../sass/_forums.sass */
  .dis-post-right cite + blockquote {
    margin-top: 0.6em; }

/* line 305, ../../sass/_forums.sass */
.dis-signature {
  width: 86%;
  padding: 2% 2% 0 0 !important;
  float: right;
  border-top: 1px dotted #e0e0e0 !important;
  font-size: 11px;
  font-size: 1.1rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
  /* line 312, ../../sass/_forums.sass */
  .dis-signature a {
    color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    text-decoration: underline; }
    /* line 316, ../../sass/_forums.sass */
    .dis-signature a:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 318, ../../sass/_forums.sass */
  .dis-signature:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

/* line 323, ../../sass/_forums.sass */
.group-fix {
  zoom: 1; }
  /* line 324, ../../sass/_forums.sass */
  .group-fix:before, .group-fix:after {
    content: "";
    display: table; }
  /* line 328, ../../sass/_forums.sass */
  .group-fix:after {
    clear: both; }

/* line 333, ../../sass/_forums.sass */
.paginate {
  float: right;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c3b39), color-stop(100%, #17312f));
  background-image: -webkit-linear-gradient(#1c3b39, #17312f);
  background-image: -moz-linear-gradient(#1c3b39, #17312f);
  background-image: -o-linear-gradient(#1c3b39, #17312f);
  background-image: linear-gradient(#1c3b39, #17312f);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: #2f6561 0 1px 0, black 0 -1px 0;
  -moz-box-shadow: #2f6561 0 1px 0, black 0 -1px 0;
  box-shadow: #2f6561 0 1px 0, black 0 -1px 0;
  padding: 4px;
  padding: 0.4rem;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1; }
  /* line 342, ../../sass/_forums.sass */
  .paginate li {
    margin: 0;
    padding: 0; }
  /* line 345, ../../sass/_forums.sass */
  .paginate a {
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #224946), color-stop(100%, #1f4240));
    background-image: -webkit-linear-gradient(#224946, #1f4240);
    background-image: -moz-linear-gradient(#224946, #1f4240);
    background-image: -o-linear-gradient(#224946, #1f4240);
    background-image: linear-gradient(#224946, #1f4240);
    -webkit-box-shadow: #070e0e 0 0 3px, black 0 1px 0, #2b5b57 0 1px 0 inset;
    -moz-box-shadow: #070e0e 0 0 3px, black 0 1px 0, #2b5b57 0 1px 0 inset;
    box-shadow: #070e0e 0 0 3px, black 0 1px 0, #2b5b57 0 1px 0 inset;
    color: #ebf5f5;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 4px 5px;
    padding:  0.4rem 0.5rem;
    margin: 0 1px 0 0;
    text-decoration: none; }
    /* line 356, ../../sass/_forums.sass */
    .paginate a:hover, .paginate a.active {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b7d78), color-stop(100%, #2e625e));
      background-image: -webkit-linear-gradient(#3b7d78, #2e625e);
      background-image: -moz-linear-gradient(#3b7d78, #2e625e);
      background-image: -o-linear-gradient(#3b7d78, #2e625e);
      background-image: linear-gradient(#3b7d78, #2e625e);
      -webkit-box-shadow: black 0 0 3px, black 0 1px 0, #4ba09a 0 1px 0 inset;
      -moz-box-shadow: black 0 0 3px, black 0 1px 0, #4ba09a 0 1px 0 inset;
      box-shadow: black 0 0 3px, black 0 1px 0, #4ba09a 0 1px 0 inset; }
  /* line 360, ../../sass/_forums.sass */
  .paginate.stand-alone {
    text-align: right;
    float: none;
    position: relative;
    z-index: 20;
    -webkit-box-shadow: white 0 1px 0, black 0 -1px 0;
    -moz-box-shadow: white 0 1px 0, black 0 -1px 0;
    box-shadow: white 0 1px 0, black 0 -1px 0; }
    /* line 366, ../../sass/_forums.sass */
    .paginate.stand-alone.top {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      margin: 1.4em 0 -1.4em 0; }
    /* line 369, ../../sass/_forums.sass */
    .paginate.stand-alone.bottom {
      -webkit-border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -ms-border-radius: 0 0 5px 5px;
      -o-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px; }

/* line 373, ../../sass/_forums.sass */
.horiz-list li {
  display: inline-block; }
/* line 375, ../../sass/_forums.sass */
.horiz-list a {
  display: block; }

/* line 379, ../../sass/_forums.sass */
.sidebar {
  margin-top: 1.1em; }
  /* line 383, ../../sass/_forums.sass */
  .sidebar .box.first p {
    margin: 0 0 1em 0;
    color: #797979; }
  /* line 388, ../../sass/_forums.sass */
  .sidebar .panel-box {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.3;
    padding: 10px 15px;
    padding:  1rem 1.5rem;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #e0e0e0 0 2px 3px;
    -moz-box-shadow: #e0e0e0 0 2px 3px;
    box-shadow: #e0e0e0 0 2px 3px;
    border: 1px solid #e5e5e5; }
    /* line 396, ../../sass/_forums.sass */
    .sidebar .panel-box h4 {
      font-size: 16px;
      font-size: 1.6rem;
      margin: 0 -17px 5px -17px;
      margin:  0 -1.7rem 0.5rem -1.7rem;
      padding: 0 18px 7px 18px;
      padding:  0 1.8rem 0.7rem 1.8rem;
      background: none;
      font-weight: 700;
      border-bottom: 1px solid #e0e0e0; }
    /* line 403, ../../sass/_forums.sass */
    .sidebar .panel-box p {
      padding: 0;
      color: #666666; }
    /* line 406, ../../sass/_forums.sass */
    .sidebar .panel-box h4 + p {
      border-top: solid 1px white;
      padding: 10px 15px 10px 15px;
      padding:  1rem 1.5rem 1rem 1.5rem;
      margin: -5px -15px 10px -15px;
      margin:  -0.5rem -1.5rem 1rem -1.5rem; }
    /* line 412, ../../sass/_forums.sass */
    .sidebar .panel-box .a-secondary-cta {
      margin-left: 0;
      margin-right: 0;
      margin-top: 2%; }
  /* line 416, ../../sass/_forums.sass */
  .sidebar .primary-cta {
    color: white;
    font-size: 17px;
    font-size: 1.7rem;
    margin-bottom: 5px;
    margin-bottom: 0.5rem; }
    /* line 420, ../../sass/_forums.sass */
    .sidebar .primary-cta.login {
      display: block;
      margin-left: 0;
      text-align: center;
      padding: 0.5em; }
  /* line 425, ../../sass/_forums.sass */
  .sidebar .a-faux-btn-grp {
    display: table;
    width: 100%;
    margin-top: 6%; }
    /* line 429, ../../sass/_forums.sass */
    .sidebar .a-faux-btn-grp .a-bug, .sidebar .a-faux-btn-grp .a-proposal {
      display: table-cell;
      vertical-align: middle; }
    /* line 432, ../../sass/_forums.sass */
    .sidebar .a-faux-btn-grp .a-bug {
      width: 32%;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      -ms-border-radius: 3px 0 0 3px;
      -o-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      background: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #656565), color-stop(100%, #868686));
      background: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -webkit-linear-gradient(bottom, #656565 0%, #868686 100%);
      background: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -moz-linear-gradient(bottom, #656565 0%, #868686 100%);
      background: url(../../images/redo/bg/btn-divide.png) no-repeat right center, -o-linear-gradient(bottom, #656565 0%, #868686 100%);
      background: url(../../images/redo/bg/btn-divide.png) no-repeat right center, linear-gradient(bottom, #656565 0%, #868686 100%); }
      /* line 437, ../../sass/_forums.sass */
      .sidebar .a-faux-btn-grp .a-bug:hover {
        background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #818181), color-stop(100%, #9b9b9b));
        background-image: -webkit-linear-gradient(bottom, #818181 0%, #9b9b9b 100%);
        background-image: -moz-linear-gradient(bottom, #818181 0%, #9b9b9b 100%);
        background-image: -o-linear-gradient(bottom, #818181 0%, #9b9b9b 100%);
        background-image: linear-gradient(bottom, #818181 0%, #9b9b9b 100%); }
    /* line 439, ../../sass/_forums.sass */
    .sidebar .a-faux-btn-grp .a-proposal {
      width: 56%;
      margin: 3% 0 0 -2%;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      -ms-border-radius: 0 3px 3px 0;
      -o-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0; }

/* line 443, ../../sass/_forums.sass */
.footer-stats {
  font-size: 14px;
  padding-top: 1.2em;
  padding-bottom: 2em;
  margin: 0 0 2em 0;
  border-top: 2px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6; }
  /* line 450, ../../sass/_forums.sass */
  .footer-stats strong {
    font-weight: 700; }

/* line 452, ../../sass/_forums.sass */
.m-stats-title {
  display: block; }

/* line 454, ../../sass/_forums.sass */
.m-stats-single {
  font-weight: 700; }

/* line 456, ../../sass/_forums.sass */
.m-modx_logo {
  background: url(../../images/redo/elements/modx-logo-fixed.png) no-repeat 0 0;
  display: block;
  height: 50px;
  width: 130px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }
  /* line 462, ../../sass/_forums.sass */
  .m-modx_logo:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }

/* line 465, ../../sass/_forums.sass */
.backgroundsize .m-modx_logo {
  width: 90%;
  height: 7.5em;
  background: url(../../images/redo/elements/modx-logo-sizeable.png) no-repeat 0 0;
  background-size: 100% auto; }
