ul.actions {
    width: auto;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	background:url("../images/bgs/grad-bg.png") repeat-x scroll 0 bottom #F8F8F8;
	border:1px solid #CFCFCF;
	margin-left:5px;
	width:auto;
}
.actions li {
	border-right:1px solid #CFCFCF;
	display:block;
	float:left;
	list-style-type:none;
	margin-right:10px;
}
.actions li:last-child {
	border-right:0 none;
}
.actions a {
	border:1px solid transparent;
	color:#555555;
	display:block;
	font-size:12px;
	font-weight:bold;
	outline:medium none;
	padding:4px 6px;
	text-decoration:none;
	text-shadow:0 1px 0 #FFFFFF;
	vertical-align:top;
	white-space:nowrap;
}
.actions a:hover {
    -webkit-transition: -webkit-box-shadow 0.2s linear;
	background:url("../images/bgs/grad-bg-green.png") repeat-x scroll 0 bottom #84A93C;
	border:1px solid #5D7F2F;
	text-shadow:0 -1px 0 #676767;
	color: #fafafa;
}
.actions a:active {
    background-color:#FAFAFA;
}
.actions a.disabled {
    border: 1px solid #657587;
    padding: 2px 4px;
    color: #777;
    border-width: 0;
} 