.dis-profile
    ul.profile
        margin: 0 0 30px 30px
        li
            @extend .group-vis
            padding: 2px 0
            display: block
            border-bottom: 1px dotted #ccc
            &:last-child
                border-bottom: none
    h1
        font-size: 1.6em
        border-bottom: 1px dotted #ccc
    strong
        font-weight: 700